@if (radioService.radioItems()?.length > 0) {
  <div class="mt-3">
    <div class="section head">Radio stations provided by {{deviceService.selectedMediaRendererDevice().friendlyName}}</div>
    <div class="albumLayout ps-3">
      @for (item of radioService.radioItems(); track item.objectID) {
        <div class="albumTile">
          <div class="albumImageContainer">
            <img src="{{item.albumArtUrl}}" class="imgContainer" alt="{{item.title}}">
            <div class="overlay-child flex justify-center align-items-center">
              <span class="material-symbols-outlined md-48" (click)="playOh(item)">play_arrow</span>
            </div>
          </div>
          <div class="flex flex-col albumDesc">
            <div class="highlightFolderText">RADIO</div>
            <div class="card-title">{{item.title}}</div>
          </div>
        </div>
      }
    </div>
  </div>
}

@if (configurationService.serverConfig?.radioStation?.length > 0) {
  <div>
    <div class="albumLayout ps-3">
      @for (item of configurationService.serverConfig.radioStation; track item.id) {
        <div class="albumTile">
          <div class="albumImageContainer">
            <img src="{{item.artworkUrl}}" class="imgContainer" alt="{{item.stationName}}">
            <div class="overlay-child flex justify-center align-items-center">
              <span class="material-symbols-outlined md-48" (click)="play(item)">play_arrow</span>
            </div>
          </div>
          <div class="flex flex-col albumDesc">
            <div class="highlightFolderText">RADIO</div>
            <div class="card-title">{{item.stationName}}</div>
          </div>
        </div>
      }
    </div>
  </div>
} @else {
  <div class="regularText infotext">There are no configured radio stations available.</div>
}

