@use "pantone" as p;
@use "card-layout";

// "play-button" overlay symbol
.play-overlay-button {
    color    : white;
    opacity  : 1;
}

.play-overlay {
    position        : absolute;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    height          : 100%;
    width           : 100%;
    opacity         : 0;
    background-color: rgba($color: p.$pantone-Neutral-Black-C, $alpha: 0.95);
    text-align      : center;
    transition      : .3s ease;
    opacity         : 0;

    &:hover {
        opacity: 0.7;
    }
}