<div class="section head">Radio</div>

<div class="cardLayout">
    <div class="my-Card" *ngFor="let item of configurationService.serverConfig.radioStation">
        <img src="{{item.artworkUrl}}" class="card-img-top" alt="{{item.stationName}}">
        <div class="my-card-body">
            <div class="my-card-title">{{item.stationName}}</div>
        </div>
        <div class="play-overlay d-flex justify-content-center align-items-center">
            <mat-icon (click)="play(item)" class="play-overlay-button" svgIcon="play" aria-label="play"></mat-icon>
        </div>
    </div>
</div>

<div class="section head">Device Radio Stations</div>

<div class="cardLayout">
    <div class="my-Card" *ngFor="let item of radioService.radioItems">
        <img src="{{item.albumArtUrl}}" class="card-img-top" alt="{{item.title}}">
        <div class="my-card-body">
            <div class="my-card-title">{{item.title}}</div>
        </div>
        <div class="play-overlay d-flex justify-content-center align-items-center">
            <mat-icon (click)="playOh(item)" class="play-overlay-button" svgIcon="play" aria-label="play"></mat-icon>
        </div>
    </div>
</div>