img {
    height       : 250px;
    width        : 250px;
    object-fit   : cover;
    border-radius: 4px;
}

.title {
    font-size  : 1.3rem;
    font-weight: 500;
}

.plainText {
    font-size  : 1rem;
    font-weight: 300;
}

.regular {
    @extend .plainText;
    font-size  : 1rem;
    font-weight: 300;
    color      : rgba(229, 238, 255, .6);
}


.highlight {
    @extend .plainText;
    color: white;
}

.outer-container {
    margin-left: 90px;
    margin-top : 120px;
}