@use "tailwindcss";


p, h1, h2, h3, h4, h5, h6, div {
    font-family    : 'HK Grotesk';
}


.element-item {
    color         : var(--glas-white-3);
    padding-top   : 8px !important;
    padding-left  : 40px !important;
    padding-right : 8px !important;
    height        : 40px;
    width         : 100%;
    font-weight   : 500;
    font-size     : 0.9rem;
    letter-spacing: 0.05rem;

    &:hover {
        background-color: var(--grey-5);
        color           : var(--snow-white);
    }
}

.selected {
    color: var(--primary-color);
}