@use "tailwindcss";

.dialog-root {
    width: 320px;
    max-width: 100%;
    overflow: hidden;
}

img {
    width        : 64px;
    min-width    : 64px;
    height       : 64px;
    min-height   : 64px;
    border-radius: 2px;
    margin-left  : 8px;
}

.albumAndTitle {
    align-self: center;
    min-width: 0;
    flex: 1;
    overflow: hidden;
}

.title {
    letter-spacing: 1px;
    color         : var(--snow-white);
    max-width     : 100%;
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
}

.artist {
    letter-spacing: 1px;
    color         : var(--glas-white-5);
    max-width     : 100%;
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
}

.divider {
    font-size    : 1px;
    border-bottom: 1px solid var(--grey-5);
}

.spacer {
    font-size     : 4px;
    padding-bottom: 8px;
}


.playlist-item-header {
    font-size     : 1rem;
    color         : var(--primary-color-reduced);
    font-weight   : 500;
}

.playlist-item {
    //    height        : 40px;
    width               : 100%;
    color               : var(--glas-white-2);
    font-weight         : 300;
    font-size           : 0.9rem;
    letter-spacing      : 0.06rem;

    &:hover {
        background-color: var(--grey-5);
        color           : var(--snow-white);
    }
}

.starRating {
    display   : flex;
    align-self: center;
    margin-top: 8px;
}