<div class="flex flex-col justify-center">
  <!-- (mouseleave)="close()" -->
  <div class="flex mt-3" (mouseenter)="closeAllDialogs()">
    <div class="top-image">
      <img src="{{selectedMusicItem.albumArtUrl}}">
    </div>

    <div class="flex flex-col minWidth albumAndTitle">
      <div class="title no-wrap">{{selectedMusicItem.title}}</div>
      <div class="artist no-wrap">{{selectedMusicItem.artistName}}</div>
    </div>
  </div>

  <div class="divider mt-2 mb-1">&nbsp;</div>
  <div class="starRating">
    <star-rating [currentSong]="selectedMusicItem"></star-rating>
  </div>
  <div class="divider mt-2 mb-1">&nbsp;</div>

  <div class="dialogItems flex flex-col flex-wrap">
    @if (hasValidSongId()) {
    <div class="flex justify-content-between playlist-item-header">
      Server side playlist actions
    </div>
    <div class="flex justify-content-between playlist-item" (click)="openAddToPlaylistDialog($event)">
      <div class="flex justify-content-between" style="align-self: center;">
        Add to playlist
      </div>
    </div>
    }
    @if (isParentPlaylist) {
    <div class="playlist-item" (mouseover)="closeAllDialogs()" (click)="deleteFromPlaylist()">
      Delete from this playlist
    </div>
    }

    @if (hasValidSongId()) {
    <div class="divider mb-1 mt-1">&nbsp;</div>
    <div class="flex justify-content-between playlist-item-header">
      Player playlist actions
    </div>
    <div class="playlist-item" (mouseenter)="closeAllDialogs()" (click)="actionPlayNext()">
      Play next
    </div>
    <div class="playlist-item" (mouseenter)="closeAllDialogs()" (click)="actionPlayLast()">
      Add at last position
    </div>
    <div class="divider mb-1 mt-1">&nbsp;</div>
    <div class="flex justify-content-between playlist-item-header">
      Other server actions
    </div>
    <div class="playlist-item" (mouseover)="closeAllDialogs()" (click)="download()">
      Download
    </div>
    <div class="playlist-item" (mouseover)="closeAllDialogs()" (click)="updateAlbumArt()">
      Update Album Art
    </div>
    }
  </div>
  <div class="spaces">&nbsp;</div>
</div>