<div class="nav-search-container">
    <span class="material-symbols-outlined thin md-light">search</span>
    <input class="nav-search" [ngModel]="globalSearchService.quickSearchQueryString()" (ngModelChange)="globalSearchService.updateQuickSearchQueryString($event)" matInput [placeholder]="globalSearchService.globalSearch() ? 'global search' : 'search below this folder'" #searchInput
      (keyup)="keyUp($event)" (focus)="focus()" (blur)="blur()" >
    <span class="material-symbols-outlined thin md-light" (click)="toggleGlobalSearch()">change_circle</span>
    <span class="material-symbols-outlined thin md-light" (click)="globalSearchService.clearSearch()">close</span>
</div>

@if (globalSearchService.quickSearchPanelVisible) {
    <modal-search-result></modal-search-result>
}