<div class="playlistMainScreen mb-32" id="Player_Queue">
  @if (!deviceService.mediaRendererSelected) {
    <div class="regular ms-3 mt-3">
      No player
    </div>
  }
  @if (deviceService.mediaRendererSelected) {
    <div class="flex ms-3">
      <div class="regular me-2">Playlist of :</div>
      <div class="highlight">{{deviceService.selectedMediaRendererDevice().friendlyName}}</div>       
    </div>
  }
  <div class="flex border-bottom border-secondary">
    <button mat-stroked-button color="primary" class="mv-4 my-buttons m-4" [disabled]="!deviceService.mediaRendererSelected" (click)="play()">
      <mat-icon class="material-symbols-outlined thin">play_arrow</mat-icon>
      <span class="button button-text">play</span>
    </button>
    <button mat-stroked-button color="warn" class="mv-4 my-buttons m-4" [disabled]="!deviceService.mediaRendererSelected" (click)="delete()">
      <mat-icon class="material-symbols-outlined thin">delete</mat-icon>
      <span class="button button-text">delete</span>
    </button>
  </div>

  @if (deviceService.mediaRendererSelected()) {
    <div>
      @if (hasPlaylistItems) {
        <div>
          @for (item of playlistService.playlistItems(); track item.objectID) {
            <div class="playlistItem flex {{getActiveClass(item)}}" (click)="playlistService.seekId(item.objectID)">
              <img src="{{item.albumArtUrl}}" class="cropImg" alt="{{item.title}}" id="PL-{{item.objectID}}" tabindex="-1">
              <div class="flex flex-col minWidth albumAndTitle">
                <div class="minWidth flex">
                  <div class="title no-wrap">{{item.title}}</div>
                  <quality-badge [item]="item"></quality-badge>
                </div>
                <div class="flex flex-col no-wrap mt-2">
                  <div class="currentTime align-self-start">
                    <span class="finishedTime">{{item.artistName}}</span>
                  </div>
                  <div class="currentTime align-self-start">
                    <div class="finishedTime">{{item.album}}</div>
                  </div>
                </div>
              </div>
              <div class="middle-spacer"></div>
              <div class="rightButtons">
                <span class="material-symbols-outlined me-1" (click)="playlistService.deleteSongFromRendererPlaylist(item.objectID)">close</span>
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="regularText infotext">
          The players playlist is empty.
        </div>
      }
    </div>
  } @else {
    <div class="regularText infotext">
      Please select a media renderer below or define a default media renderer in the <a href="#/settings">App settings</a>.
    </div>
  }
</div>


