@import "custom_variables";
@import "pantone";

$imgWidthHeight   : 7rem;
$img-border-width : 0px;


.plainText {
    font-size  : 1.5rem;
    font-weight: 300;
}

.regular {
    @extend .plainText;
    font-weight   : 500;
    letter-spacing: 0.07rem;
    color         : rgba(var(--glas-white-4));
    margin-top    : 16px;
}

.highlight {
    @extend .plainText;
    font-weight   : 500;
    letter-spacing: 0.07rem;
    color         : var(--snow-white);
    margin-top    : 16px;
}

.infotext {
    margin-top : 2rem;
    margin-left: 4rem;
}

img {
    height: calc(var(--footer-height) - 2px);
    width : calc(var(--footer-height) - 2px);
    border-radius: 4px;    
}

.baseFontsize {
    font-size  : 1rem;
    font-weight: 300;
}

.currentTime {
    @extend .baseFontsize;
    color                : var(--bg-grey-6);
    font-feature-settings: "tnum";
}

.finishedTime {
    @extend .baseFontsize;
    color                : var(--glas-white-5);
    font-feature-settings: "tnum";
}


.albumAndTitle {
    margin-left: 1.5rem;
    align-self : center;
}

.search-row {
    padding-bottom: 16px;
}

.searchImgHeight {
    max-width : 4rem;
    max-height: 4rem;
    width     : 4rem;
    height    : 4rem;
}

.rightButtons {
    align-self   : center;
    color        : var(--glas-white-5);
    padding-right: 16px;
}


// square image (this is useful if input image is a rectangle)
.cropImg {
    object-fit: cover;
    width     : calc(#{$imgWidthHeight}  - 2*#{$img-border-width});
    height    : calc(#{$imgWidthHeight}  - 2*#{$img-border-width});
}

.playlistItem {
    margin: 0.5rem;

    &.active {
        color: $pantone-333-C;
    }
}

.title {
    @extend .baseFontsize;
    font-size: 1.2rem;
    color    : var(--glas-white-3);

    &.active {
        color: rgb(0, 255, 255);
    }
}

.foot {
    margin-bottom: 0.7rem;
}


.album {
    font-size  : 1rem;
    color      : $amber-pantone-5;
    font-weight: 500;
}

.artist {
    font-size  : 1rem;
    color      : $pantone-406-C;
    font-weight: 500;
}