<div class="playlistMainScreen">
    <div *ngIf="deviceService.isAnyMediaRendererSelected(); else noMediaRenderer">
        <div *ngIf="hasPlaylistItems; else noPlaylistItems">
            <div *ngFor="let item of playlistService.playlistItems" class="playlistItem d-flex {{getActiveClass(item)}}" (click)="playlistService.seekId(item.objectID)">

                <img src="{{item.albumArtUrl}}" class="cropImg" alt="{{item.title}}" id="PL-{{item.objectID}}" tabindex="-1">
                <div class="d-flex flex-column minWidth albumAndTitle">
                    <div class="minWidth d-flex">
                        <div class="title no-wrap">{{item.title}}</div>
                        <quality-badge [item]="item"></quality-badge>
                    </div>
                    <div class="d-flex flex-column no-wrap mt-2">
                        <div class="currentTime align-self-start">
                            <span class="finishedTime">{{item.artistName}}</span>
                        </div>
                        <div class="currentTime align-self-start">
                            <div class="finishedTime">{{item.album}}</div>
                        </div>
                    </div>
                </div>
                <div class="middle-spacer"></div>
                <div class="rightButtons">
                    <span class="material-symbols-outlined me-1" (click)="playlistService.delete(item.objectID)">close</span>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noMediaRenderer>
    <div class="regularText infotext">
        Please select a media renderer in the <a href="#/input-output">I/O settings</a> or define a default media
        renderer
        in the <a href="#/settings">App settings</a>.
    </div>
</ng-template>

<ng-template #noPlaylistItems>
    <div class="regularText infotext">
        The active playlist is empty.
    </div>
</ng-template>