<div class="sidebar">
    <div class="app-label-text">nextCP/2</div>
    <a #btn1 mat-button style="text-align:left" [routerLink]="'/music-library'" class="{{getTextClass('/music-library')}}"
        (click)="musicLibraryClicked()">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="music-box-multiple-outline"></mat-icon><span>Music
            Library</span>
    </a>
    <a #btn2 mat-button style="text-align:left" [routerLink]="'/playlist'" (click)="buttonClicked('/playlist')"
        class="{{getTextClass('/playlist')}}">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="playlist-music-outline"></mat-icon><span>Player
            Queue</span>
    </a>
    <a #btn3 mat-button style="text-align:left" [routerLink]="'/player'" (click)="buttonClicked('/player')"
        class="{{getTextClass('/player')}}">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="surround-sound"></mat-icon><span>Now
            listening</span>
    </a>
    <a #btn4 mat-button style="text-align:left" [routerLink]="'/radio'" (click)="buttonClicked('/radio')"
        class="{{getTextClass('/radio')}}">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="radio"></mat-icon><span>Radio</span>
    </a>

    <a #btn6 mat-button style="text-align:left; vertical-align: top;" [routerLink]="'/myAlbums'"
        (click)="myAlbumClicked()" class="{{getTextClass('/myAlbums')}}">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="heart-box-outline"></mat-icon><span>My Albums</span>
    </a>

    <a #btn5 mat-button style="text-align:left; vertical-align: top;" [routerLink]="'/settings'"
        (click)="buttonClicked('/settings')" class="{{getTextClass('/settings')}}">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="cog-outline"></mat-icon><span>App settings</span>
    </a>

    <div *ngIf="playlistService.serverPl.serverPlaylists.length > 0" class="sub-label">MY PLAYLISTS</div>

    <a mat-button style="text-align:left; vertical-align: top;" [routerLink]="'/myPlaylists'"
        class="playlist {{getPlaylistClass(item.playlistId)}}"
        *ngFor="let item of playlistService.serverPl.serverPlaylists"
        (click)="browseToPlaylist(item)">{{item.playlistName}}</a>

</div>