@import 'app-variables';
@import "custom_variables";
@import 'pantone';

$col-1    : $amber-pantone-3;
$col-2    : $amber-pantone-4;
$col-3    : $amber-pantone-5;
$col-4    : $amber-pantone-6;
$col-grey : $col-4;

.mdc-button {
    letter-spacing : 0.04rem;
    font-weight    : 600;
    align-items    : center;
    justify-content: flex-start;
    width: 200px;
}

a {
    line-height: 1.5rem;
    color      : var(--glas-white-4);
}

.icn {
    margin-right: 1rem;
}

.app-label-text {
    font-size  : 1.8rem;
    font-weight: 300;

    margin-left  : 16px;
    margin-bottom: 40px;
    margin-top   : 8 px;
    margin-right : 16px;
    padding-right: 12px;
}

@media only screen and (max-width: 900px) {
    .app-label-text {
        visibility: hidden;
    }
}

.margin-reactive {
    margin-left: 1rem;
}

@media only screen and (max-width: 900px) {
    .margin-reactive {
        margin-left: 0px;
    }
}


.hide-element {
    visibility: visible;
}

@media only screen and (max-width: 900px) {
    .hide-element {
        visibility: hidden;
    }
}

.buttonText {
    margin-left: 0.8rem;
}

.mat-button {
    line-height   : 45px;
    letter-spacing: 0.05rem;
    font-weight   : 400;

    margin-right: 1rem;

    padding-left : 12px;
    padding-right: 12px;
    border-radius: 8px;

    background: #242428;
    color     : rgba(229, 238, 255, 0.6);

    &:hover {
        background-color: var(--grey-5);
        color           : white;

        &.active {
            color: aqua !important;
        }
    }

    &.playlist {
        color     : white;
        text-align: left;
    }
}

.create-icon {
    border-radius   : 50%;
    color           : white;
    background-color: var(--bg-grey-8);
}


.active {
    color: rgb(0, 255, 255) !important;
}

.sidebar-base {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : var(--sidebar-width);
    height  : calc(var(--vh, 1vh) * 100 - var(--footer-height));

    display       : flex;
    align-items   : flex-start;
    flex-direction: column;
    flex-shrink   : 0;
    background    : #242428;
    transition    : 50ms ease-in;
    overflow-y    : auto;
    letter-spacing: 0.04rem;
    font-weight   : 300;
}

.sidebar {
    @extend.sidebar-base;
    width: var(--sidebar-width);
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
    .sidebar {
        position: fixed;
        top     : 0;
        left    : 0;
        height  : calc(var(--vh, 1vh) * 100 - var(--footer-height));

        display       : flex;
        flex-direction: column;
        flex-shrink   : 0;
        background    : #242428;
        transition    : 50ms ease-in;
        overflow-y    : auto;
        letter-spacing: 0.04rem;
        font-weight   : 300;
        width         : var(--sidebar-width-mid);
        max-width     : var(--sidebar-width-mid);
    }
}

@media only screen and (max-width: 900px) {
    .sidebar {
        @extend.sidebar-base;
        width    : var(--sidebar-width-min);
        max-width: var(--sidebar-width-min);
    }
}


.sub-label {
    color      : var(--glas-white-4);
    font-weight: 500;
    font-size  : 0.8rem;

    margin-top   : 3rem;
    margin-left  : 1rem;
    margin-bottom: 1rem;
}

.button-text {
    color: rgb(255, 255, 255);
}

.myPlaylistSection {
    display       : flex;
    flex-direction: column;
    margin-left   : 0.5rem;
}

.myRouterLinkSection {
    display       : flex;
    flex-direction: column;
}