<div class="sidebar">
    <div class="app-label">nextCP/2</div>
    <a mat-button routerLinkActive="active" style="text-align:left"
        [routerLink]="'/music-library'">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="music-box-multiple-outline"></mat-icon>Music Library
    </a>
    <a mat-button routerLinkActive="active" style="text-align:left" [routerLink]="'/playlist'">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="playlist-music-outline"></mat-icon>Queue
    </a>
    <a mat-button routerLinkActive="active" style="text-align:left" [routerLink]="'/player'">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="surround-sound"></mat-icon>Now listening
    </a>
    <a mat-button routerLinkActive="active" style="text-align:left" [routerLink]="'/radio'">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="radio"></mat-icon>Radio
    </a>

    <!--
        Maybe not necessary any more because of quick search "show all" functionality 

    <a mat-button routerLinkActive="active" style="text-align:left; vertical-align: top;" [routerLink]="'/search'">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="card-search-outline"></mat-icon>Search
    </a>
    -->    

    <a mat-button routerLinkActive="active" style="text-align:left; vertical-align: top;"
        [routerLink]="'/input-output'">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="arrow-left-right"></mat-icon>I/O settings
    </a>
    <a mat-button routerLinkActive="active" style="text-align:left; vertical-align: top;" [routerLink]="'/settings'">
        <mat-icon class="icn" style="vertical-align: top;" svgIcon="cog-outline"></mat-icon>App settings
    </a>

</div>