@use "tailwindcss";

button {
    font-family    : 'HK Grotesk';
    letter-spacing : 0.04rem;
    font-weight    : 500;
    align-items    : center;
    justify-content: flex-start;
    width          : auto;
}

.sidebar {
     height         : calc(100dvh - var(--footer-height));
}

.create-icon {
    border-radius   : 50%;
    color           : white;
    background-color: var(--bg-grey-8);
}

.active {
    color: rgb(0, 255, 255) !important;
}

.sub-label {
    color      : var(--glas-white-4);
    font-weight: 500;
    font-size  : 0.8rem;

    margin-top   : 3rem;
    margin-left  : 1rem;
    margin-bottom: 1rem;
}

