<div class="sidebar">
  <div class="app-label-text">nextCP/2</div>
  <div class="myRouterLinkSection">
    <button mat-button [routerLink]="'/music-library'" class="margin-reactive {{getTextClass('/music-library')}}" (click)="musicLibraryClicked()">
      <mat-icon class="material-symbols-outlined thin">library_music</mat-icon>
      <span class="hide-element buttonText">Music Library</span>
    </button>
    <a mat-button [routerLink]="'/playlist'" (click)="buttonClicked('/playlist')" class="margin-reactive {{getTextClass('/playlist')}}">
      <mat-icon class="material-symbols-outlined thin">queue_music</mat-icon>
      <span class="hide-element buttonText">Player Queue</span>
    </a>
    <a mat-button [routerLink]="'/player'" (click)="buttonClicked('/player')" class="margin-reactive {{getTextClass('/player')}}">
      <mat-icon class="material-symbols-outlined thin">surround_sound</mat-icon>
      <span class="buttonText hide-element">Now Listening</span>
    </a>

    <a mat-button [routerLink]="'/radio'" (click)="buttonClicked('/radio')" class="margin-reactive  {{getTextClass('/radio')}}">
      <mat-icon class="material-symbols-outlined thin">radio</mat-icon>
      <span class="hide-element buttonText">Radio</span>
    </a>

    <a mat-button [routerLink]="'/networks'" (click)="buttonClicked('/networks')" class="margin-reactive  {{getTextClass('/networks')}}">
      <mat-icon class="material-symbols-outlined thin">radio</mat-icon>
      <span class="hide-element buttonText">Radio Networks</span>
    </a>

    <a mat-button [routerLink]="'/myAlbums'" (click)="myAlbumClicked()" class="margin-reactive {{getTextClass('/myAlbums')}}">
      <mat-icon class="material-symbols-outlined thin">album</mat-icon>
      <span class="hide-element buttonText">My Albums</span>
    </a>

    @if(mediaPlayerService.mediaServerExists()) {
    <a mat-button [routerLink]="'/mediaPlayerConfig'" (click)="buttonClicked('/mediaPlayerConfig')" class="margin-reactive  {{getTextClass('/mediaPlayerConfig')}}">
      <mat-icon class="material-symbols-outlined thin">save</mat-icon>
      <span class="hide-element buttonText">MediaPlayer</span>
    </a>
    }

    <a mat-button [routerLink]="'/settings'" (click)="buttonClicked('/settings')" class="margin-reactive  {{getTextClass('/settings')}}">
      <mat-icon class="material-symbols-outlined thin">settings</mat-icon>
      <span class="hide-element buttonText">App Settings</span>
    </a>
  </div>

  <div class="myPlaylistSection hide-element">
    <div class="sub-label d-flex justify-content-between">
      <div class="align-self-center">
        MY PLAYLISTS
      </div>
      <div class="align-self-center">
        <mat-icon class="material-symbols-outlined" (click)="showPlaylistDialog()">pending</mat-icon>
      </div>
    </div>
    @for (item of serverPlaylists; track item.playlistId) {
    <a mat-button [routerLink]="'/myPlaylists'" class="hide-element playlist {{getPlaylistClass(item.playlistId)}}" (click)="browseToPlaylist(item)">{{item.playlistName}}</a>
    }
    @if (myPlaylistsAvailable && playlistService.serverPl().serverPlaylists?.length == 0) {
    <div>Playlist folder contains no playlists.</div>
    }
    @if (!myPlaylistsAvailable) {
    <div>Media Server doesn't support playlist management.</div>
    } @else if (!myFolderConfigured) {
    <div>No playlist folder configured in settings.</div>
    }
  </div>
</div>
<div id="mobileDeviceEmptyBlock" class="footer-block">&nbsp;</div>
