@import "pantone";
@import 'appTable';
@import "card-layout";
@import "buttons";
@import "app-variables";

// area right to the image
.right-button {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    max-width      : 750px;
}

.button-row {
    display        : flex;
    justify-content: space-between;
    margin-top     : 1rem;
}

.header-container {
    display     : flex;
    margin-right: 32px;
}

@media only screen and (max-width: 900px) {
    .header-container {
        display       : flex;
        flex-direction: column;
        margin-right  : 8px;
    }

    .top-img-container {
        align-self: center;
    }
}

@media only screen and (max-width: 1100px) {
    .button-row {
        display        : flex;
        justify-content: space-between;
        margin-top     : 1rem;
        flex-wrap      : wrap;
    }
}

// Container
.img-top {
    background-repeat: calc(var(--vh, 1vh) * 100);
    object-fit       : cover;
    background-color : rgba(0, 0, 0, 0.5);

    width : 15rem;
    height: 15rem;
}

.img-small {
    object-fit      : cover;
    background-color: rgba(0, 0, 0, 0.5);

    width : 4rem;
    height: 4rem;
}

.search-icon {
    color: rgba(255, 255, 255, 0.2);
}

.liked {
    color: rgb(0, 255, 255);
}

img {
    object-fit   : cover;
    width        : $imgCardWidth;
    height       : $imgCardWidth;
    transition   : all 300ms;
    border-radius: 4px;

    &:hover {
        opacity: 0.7;
    }
}

.playlistText {
    font-size     : 0.7rem;
    color         : var(--primary-color);
    letter-spacing: 0.1rem;
    padding-bottom: 8px;
}

.infobox {
    padding-left  : 2rem;
    padding-top   : 1rem;
    padding-bottom: 2 rem;
    align-self    : center;
}

.title {
    font-size     : 1.5rem;
    font-weight   : 400;
    align-self    : flex-start;
    padding-bottom: 0.7rem;
}

.album {
    padding-bottom: 0.7rem;
}

.outer-container {
    position    : relative;
    margin-left : 3rem;
    margin-right: 1rem;
    margin-top  : 2rem;
}

@media only screen and (max-width: 900px) {
    .outer-container {
        position   : relative;
        margin-left: 8px;
        margin-top : 8px;
    }
}

.plainText {
    font-size  : 1rem;
    font-weight: 300;
}

.regular {
    @extend .plainText;
    font-size     : 1rem;
    font-weight   : 500;
    letter-spacing: 0.07rem;
    color         : rgba(229, 238, 255, .6);
    margin-top    : 4px;
}


.highlight {
    @extend .plainText;
    font-weight   : 500;
    letter-spacing: 0.07rem;
    color         : var(--snow-white);
}

// Album

.play-overlay-button-album {
    color    : white;
    opacity  : 1;
    font-size: 4rem;
    width    : 4rem;
    height   : 4rem;
    margin   : 0.7rem;
}

.play-overlay-album {
    position        : absolute;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    height          : 100%;
    width           : 100%;
    opacity         : 0;
    background-color: rgba($color: $pantone-Neutral-Black-C, $alpha: 0.95);
    text-align      : center;
    transition      : .3s ease;
    opacity         : 0;

    &:hover {
        opacity: 0.7;
    }
}

// "play-button" overlay symbol
.play-overlay-button {
    color    : white;
    opacity  : 1;
    font-size: 2.5rem;
    width    : 2.5rem;
    height   : 2.5rem;
}

.scaleBigger {
    transition: all 0.2s ease-in-out;
}

.scaleBigger:hover {
    transform: scale(1.15, 1.15);
}

.play-overlay {
    position: absolute;
    top     : 0;
    bottom  : 0;
    left    : 0;
    right   : 0;

    opacity         : 0;
    color           : var(--snow-white);
    background-color: rgba($color: $pantone-Neutral-Black-C, $alpha: 0.95);

    text-align: center;
    transition: .3s ease;
    
    &:hover {
        opacity: 0.7;
    }    
}

.mixedTitles {
    padding-top: 3rem;
}

.mat-icon-sm {
    transform: scale(0.6);
}

.mat-icon-button-sm {
    width : 14px;
    height: 14px;
}

.minWidth {
    min-width : 0;
    min-height: 0;
}

.no-wrap {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    min-height   : 0;
    min-width    : 0;
}


.search-container {
    display           : flex;
    box-sizing        : border-box;
    -webkit-app-region: no-drag;
    -moz-app-region   : no-drag;

    width          : 100%;
    //    max-width: 388px;

    align-self      : center;
    align-items     : center;
    padding         : 0 7px;
    background-color: rgba(128, 128, 128, 0.15);
    border-radius   : 8px;
    cursor          : text;
    transition      : background-color .2s ease-out;
}

input {
    &.search {
        box-sizing : border-box;
        appearance : textfield;
        font-size  : 16px !important;
        font-weight: 300;
        flex-grow  : 1;
        height     : 36px;
        margin     : 0 8px;
        padding    : 0;
        color      : #fff;
        background : transparent;
        border     : 0;
    }
}