.bg-img {

    display : block;
    left    : 0;
    right   : 0;
    position: fixed;

    filter        : contrast(200%) blur(80px) brightness(0.20) contrast(110%) opacity(90%);
    -webkit-filter:  contrast(200%) blur(80px) brightness(0.20) contrast(110%) opacity(90%);

    /* Add the blur effect */
    /*

    filter        : brightness(30%);
    -webkit-filter: brightness(30%);

    filter        : opacity(30%);
    -webkit-filter: opacity(30%);
*/


    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-repeat: 100vh;
    background-size  : cover;
    z-index          : 0;

    //background-size: 100vw 100vh;
}