<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <File name="logfile" fileName="/Volumes/Data/svn/nextcp2/backend/nextcp2-runtime/nextcp2.log">
                <PatternLayout>
                        <Pattern>%d %p %c{5.5.~.~} [%t] %m%n</Pattern>
                </PatternLayout>
        </File>
        <Async name="Async">
                <AppenderRef ref="logfile"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="warn">
                <AppenderRef ref="Async" />
                <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
