<div class="d-flex flex-column section">
    <div class="section head">Client profiles</div>

    <div class="d-flex flex-row section line">
        <div class="section item-label">Profile name</div>
        <div class="section item-disp"><input class="section" [(ngModel)]="configService.clientConfig.clientName"></div>
    </div>

    <div class="d-flex flex-row section line">
        <div class="section item-label">Profile ID</div>
        <div class="d-flex section item-disp">
            <input class="section" [(ngModel)]="configService.clientConfig.uuid">

            <!-- Dropdown for available configs-->
            <div class="d-inline-block" ngbDropdown #serverDrop>
                <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownToggle></button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem *ngFor="let clientConfig of configService?.serverConfig?.clientConfig"
                        (click)="selectConfig(clientConfig)">{{clientConfig.clientName}}
                        [{{clientConfig.uuid}}]</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row section line">
        <div class="section item-label">Default Media Renderer</div>
        <div class="section item-disp d-flex">
            <div class="d-flex">
                <input class="section" [(ngModel)]="configService.clientConfig.defaultMediaRenderer.friendlyName">
            </div>
            <mediaRendererDropdown (selectedRenderer)="mediaRendererChanged($event)" [displayButtonText]="false">
            </mediaRendererDropdown>
        </div>
    </div>

    <div class="d-flex flex-row section line">
        <div class="section item-label">Default Media Server</div>
        <div class="section item-disp d-flex pb-2">
            <div class="d-flex">
                <input class="section input" [(ngModel)]="configService.clientConfig.defaultMediaServer.friendlyName">
            </div>
            <mediaServerDropdown (selectedServer)="mediaServerChanged($event)" [displayButtonText]="false">
            </mediaServerDropdown>
        </div>
    </div>

    <div class="d-flex flex-row section line">
        <div class="section item-label"></div>
        <button (click)="save()" type="button" class="btn btn-primary item-disp">save</button>
    </div>
</div>

<div class="section head">Media Renderer configuration</div>

<div>
    <div class="d-flex flex-row flex-wrap ml-4">
        <div class="cardContainer" *ngFor="let rendererConfig of configService.getRendererDevicesConfig()">
            <mat-card class="card-width mr-4 mb-3">
                <mat-card-header>
                    <mat-card-title>{{rendererConfig.mediaRenderer.friendlyName}}</mat-card-title>
                    <mat-card-subtitle *ngIf="isRendererConfigActive(rendererConfig)">ONLINE</mat-card-subtitle>
                    <mat-card-subtitle>{{rendererConfig.displayString}} [{{rendererConfig.ip}}]</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <mat-slide-toggle class="mb-2" [(ngModel)]="rendererConfig.active">
                            Enable
                        </mat-slide-toggle>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>device driver type</mat-label>
                            <mat-select [(ngModel)]="rendererConfig.deviceDriverType">
                                <mat-option>None</mat-option>
                                <mat-option [value]="dd.deviceType" *ngFor="let dd of configService.deviceDriverList">
                                    {{dd.deviceType}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>device driver connection</mat-label>
                            <input matInput type="text" [(ngModel)]="rendererConfig.connectionString"
                                placeholder="ip:port">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>power on defaut volume</mat-label>
                            <input matInput type="number" min="0" max="100" [(ngModel)]="rendererConfig.powerOnVolPercent"
                                placeholder="undefined">
                        </mat-form-field>
                    </div>
                    <div class="middle-spacer">&nbsp;</div>
                    <div class="d-flex">
                        <button mat-flat-button class="ml-2" color="primary"
                            (click)="saveRendererConfig(rendererConfig)">Save</button>
                        <button mat-flat-button class="ml-2" color="warn"
                            (click)="deleteRendererConfig(rendererConfig)">Delete</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!-- -->
    <div class="section head ">Administration</div>
    <div class="section subhead subsect">System imformation</div>
    <div class="d-flex section">
        <div class="section item-2-label">Build number </div>
        <div class="section item-2-disp">{{buildNumber}}</div>
    </div>

    <div class="section subhead subsect">Rating Support</div>
    <div class="d-flex section subhead">
        <button mat-flat-button class="ml-2 settings" (click)="ratingServiceService.syncRatingFromAudioFile()">import
            star rating from audio file</button>
    </div>
    <div class="d-flex section subhead">
        <button mat-flat-button class="ml-2 settings" (click)="ratingServiceService.syncRatingFromMusicBrainz()">import
            star rating from musicbrainz.org</button>
        <button mat-flat-button class="ml-2 settings"
            (click)="ratingServiceService.syncRatingsFromMusicBrainzToFiles()">import star rating from musicbrainz.org
            and store in audio file</button>
            <button mat-flat-button class="ml-2 settings"
            (click)="ratingServiceService.indexerRescanMusicDirectory()">index local music directory</button>            
    </div>
    <div class="section subhead subsect">actions for current selected media server</div>
    <div class="d-flex section subhead">
        <button mat-flat-button class="ml-2 settings" (click)="rescan()">Rescan media library</button>
        <button mat-flat-button class="ml-2 settings" (click)="myMusicService.backupLikedAlbums()">backup liked albums</button>
        <button mat-flat-button class="ml-2 settings" (click)="myMusicService.restoreLikedAlbums()">restore liked albums</button>
    </div>

    <div class="section subhead subsect">Last FM</div>
    <div class="d-flex section flex-column subhead">
        <div class="para">
            1. Click this button. A new window will open. Login and approve access to nextCP/2 :
            <button mat-flat-button class="ml-2 settings" (click)="activateLastFM()">nextCP/2 LastFM access</button>
        </div>
        <div class="para">
            2. After step 1 is done, click this button to connect nextCP/2 to LastFM :
            <button mat-flat-button class="ml-2 settings" (click)="generateSession()">generate LastFM session</button>
        </div>
    </div>

    <div class="section subhead subsect">Spotify</div>
    <div class="para" *ngIf="configService.spotifyAccountConnected()">
        Your Spotify account is connected.
    </div>
    <div class="d-flex section flex-column subhead" *ngIf="!configService.spotifyAccountConnected()">
        <div class="para">
            1. Click this button. A new window will open. Login and approve access to nextCP/2 :
            <button id="spotifyLoginBtn" mat-flat-button class="ml-2 settings" (click)="registerAppAtSpotify()">nextCP/2
                Spotify access</button>
        </div>
        <div class="para">
            2. After granting access you wil be redirected to a localhost URL (error page). Copy spotify access code
            from your browsers URL bar into the input field below and
            <button id="spotifyLoginBtn" mat-flat-button class="ml-2 settings" (click)="sendSpotifyCode()">send
                it</button>
            <div>
                <input class="section input" [(ngModel)]="code">
            </div>
            Hint: To copy the access code, click in your browsers URL bar and copy everything after
            'http://localhost:65525/?code='
        </div>
    </div>
</div>