input {
    &.section {
        width    : 100%;
        font-size: 1rem;
        margin   : 1rem;
    }
}

.card-width {
    max-width: 250px;
    font-weight: 500;
}

.cardContainer {
    display    : flex;
    align-items: stretch;
}

.settings {
    background-color: var(--color-orange-reduced-3);
}

.para {
    font-size : 1rem;
    margin-top: 1rem;
}

.subsect {
    font-weight: 500;
}

.bigger {
    flex: 3 3 0;
}

.smaller {
    flex: 1 1 0;
}

.maxButton {
    max-width: 15rem;
    margin   : 1rem;
}

.mat-form-field-infix {
    align-self: center;
}

#icnId > svg {
    vertical-align: middle;
}
