<div class="playlist-list">
    @for (playlist of playlists(); track playlist.playlistId) {
    <div class="playlist-row flex items-center justify-between gap-3">
        <div class="playlist-item flex items-center" (click)="rowClicked(playlist)">
            <img src="{{playlist.albumArtUrl}}" class="playlist-img">
            <div class="playlist-item-text">
                <div class="playlist-name">{{playlist.playlistName}}</div>
                @if(playlist.numberOfElements){
                <div class="fineText">{{playlist.numberOfElements}} music tracks</div>
                }
            </div>
        </div>
        <div class="row-action flex align-self-center">
            @if(isPlaylistMode(PlaylistModeEnum.Add)) {
            <button type="button" class="glass-btn" (click)="addTo(playlist)">
                <span class="material-symbols-outlined thin">playlist_add</span>
                <span>add track</span>
            </button>
            } @else {
            <button type="button" class="glass-btn danger" (click)="deletePlaylist(playlist)">
                <span class="material-symbols-outlined thin">delete</span>
                <span>delete</span>
            </button>
            }
        </div>
    </div>
    }
</div>
