img {
    width        : 500px;
    border-radius: 4px;
}


.baseFontsize {
    font-size  : 1.2rem;
    font-weight: 300;
}

.regularText {
    @extend .baseFontsize;
    color                : rgba(229, 238, 255, .3);
    font-feature-settings: "tnum";
}

.highlightText {
    @extend .baseFontsize;
    color                : var(--glas-white-5);
    font-feature-settings: "tnum";
}

.title {
    @extend .baseFontsize;
    word-wrap    : break-word;
    font-size    : 2rem;
    color        : var(--glas-white-3);
    margin-bottom: 20px;
}

.buttons-container {
    margin-top: 40px;
}

.mr-buttons {
    background-color: rgba(229, 238, 255, .1);
    color           : rgba(229, 238, 255, .7);
    text-align      : left;
    min-width       : 8rem;
    margin-right    : 16px;
    margin-top      : 16px;

    &:first-child {
        margin-left: 0;
    }
}