<div class="d-flex">
    <div class="ml-4 mt-4 d-flex flex-column">
        <div class="mb-3">
            <img *ngIf="rendererService.trackInfoAvailable" src="{{getImgSrc()}}">
        </div>
        <star-rating [size]="getStarSize()" [currentSong]="getCurrentTrack()"></star-rating>
    </div>
    <div *ngIf="hasCurrentSongTitle(); else noTitle">
        <div class="d-flex flex-column ml-5 mt-5">
            <div class="d-flex flex-column minWidth">
                <div class="title">{{getCurrentSongTitle()}}</div>
                <div class="d-flex flex-column no-wrap">
                    <div class="regularText align-self-start"
                        *ngIf="rendererService.trackInfo?.currentTrack?.artistName ; else emptyDiv">
                        by <span class="highlightText">{{rendererService.trackInfo?.currentTrack?.artistName}}</span>
                    </div>
                    <div class="regularText align-self-start"
                        *ngIf="rendererService.trackInfo?.currentTrack?.album; else emptyDiv">
                        <div *ngIf="!streaming(); else stream">
                            from the album <span
                                class="highlightText">{{rendererService.trackInfo?.currentTrack?.album}}</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="d-flex buttons-container">
                <button class="mr-buttons" mat-flat-button aria-label="Show info" (click)="detailsClicked()">
                    <mat-icon class="mr-1" style="vertical-align: top;" svgIcon="information-outline"></mat-icon>Details
                </button>
                <button *ngIf="canBeAddedToPlaylist" mat-flat-button class="mr-buttons"
                    (click)="openAddPlaylistDialog($event, getCurrentTrack().musicBrainzId.TrackId)">
                    <mat-icon class="mr-1" style="vertical-align: top;" svgIcon="playlist-plus"></mat-icon>Playlists
                </button>
            </div>
    
    
            <div class="mt-6 trans-color">&nbsp;
                <div class="d-flex">
                    <div>Album Artist ID</div>
                    <div>{{rendererService.trackInfo?.currentTrack?.musicBrainzId.AlbumArtistId}}</div>
                </div>
                <div class="d-flex">
                    <div>Album ID</div>
                    <div>{{rendererService.trackInfo?.currentTrack?.musicBrainzId.AlbumId}}</div>
                </div>
                <div class="d-flex">
                    <div>Artist ID</div>
                    <div>{{rendererService.trackInfo?.currentTrack?.musicBrainzId.ArtistId}}</div>
                </div>
                <div class="d-flex">
                    <div>Release Track ID</div>
                    <div>{{rendererService.trackInfo?.currentTrack?.musicBrainzId.ReleaseTrackId}}</div>
                </div>
                <div class="d-flex">
                    <div>Track ID</div>
                    <div>{{rendererService.trackInfo?.currentTrack?.musicBrainzId.TrackId}}</div>
                </div>
                <div class="d-flex">
                    <div>Work ID</div>
                    <div>{{rendererService.trackInfo?.currentTrack?.musicBrainzId.WorkId}}</div>
                </div>
            </div>
        </div>    
    </div>
</div>

<ng-template #emptyDiv>
    <div>&nbsp;</div>
</ng-template>

<ng-template #noTitle>
    <div class="regularText infotext">song info not available</div>
</ng-template>

<ng-template #stream>
    <div>
        broadcasted by <span class="highlightText">{{rendererService.trackInfo?.currentTrack?.album}}</span>
    </div>
</ng-template>