@use 'appTable';
@use "card-layout";
@use "buttons";
@use "app-variables" as av;
@use "app-icons";

.title {
    font-size     : 2rem;
    font-weight   : 700;
    align-self    : flex-start;
    padding-bottom: 0.7rem;
    color         : var(--snow-white);
}

// area right to the image
.right-section {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    max-width      : 750px;
    min-height  : calc(av.$top-header-Height - av.$top-header-Vertical-Indent);
    max-height  : calc(av.$top-header-Height - av.$top-header-Vertical-Indent);
}

.plainText {
    font-size  : 1rem;
    font-weight: 300;
}

.regular {
    @extend .plainText;
    font-size     : 1rem;
    font-weight   : 500;
    letter-spacing: 0.07rem;
    color         : rgba(var(--glas-white-4));
    margin-top    : 4px;
}

.highlight {
    @extend .plainText;
    font-weight   : 500;
    letter-spacing: 0.07rem;
    color         : var(--snow-white);
}

.top-img-container {
    display   : flex;
    max-height: av.$top-header-Height;
    min-height: av.$top-header-Height;
}

.img-top {
    object-fit      : cover;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter : drop-shadow(4px 4px 10px black);

    min-width   : calc(av.$top-header-Height - av.$top-header-Vertical-Indent);
    min-height  : calc(av.$top-header-Height - av.$top-header-Vertical-Indent);
    max-width   : calc(av.$top-header-Height - av.$top-header-Vertical-Indent);
    max-height  : calc(av.$top-header-Height - av.$top-header-Vertical-Indent);
    margin-left : 32px;
    margin-right: 32px;
}

.button-row {
    display        : flex;
    justify-content: space-between;
    margin-top     : 1rem;
    flex-wrap      : wrap;
}

.growingContainer {
    display: flex;
    flex   : 1 1 0;
}


.outer-container {
    display  : flex;
    flex     : 1 5 auto;
    position : relative;
    max-width: 1700px;
}

.infobox {
    align-self    : center;
}

.header-container {
    display       : flex;
    flex-direction: column;
    flex          : 1 1 auto;
}

.app-input {
    --mat-form-field-container-height : 56px;
}

// Buttons

// Button Group
.button-row {
    position : absolute;
    top      : calc(av.$top-header-Height - 41px);
    left     : 32px;
    display  : table-cell;
    max-width: 400px;
    z-index  : 10;
}

.button-row .mat-mdc-button-base {
    margin-left : 8px;
    margin-right: 8px;
}

.button-flex-container {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.button-container {
    display        : flex;
    justify-content: center;
    width          : 60px;
}

.mdc-fab {
    &.liked {
        background-color: rgb(248, 91, 167);
    }

    &.disliked {
        background-color: rgb(66, 66, 66);
    }
}

.btn-play-shuffle {
    background-color: rgb(0, 160, 160);
    &:hover {
        background-color: rgb(0, 190, 190);
    }}

.btn-play {
    background-color: rgb(0, 112, 239);
    width           : 48px;
    height          : 48px;

    &:hover {
        background-color: rgb(0, 172, 225);
    }
}

.button {
    &.button-text {
        margin-left: 0.7rem;
    }
}

// Image

.bg-img-header::before {
    content                          : "";
    position                         : absolute;
    max-height                       : av.$top-header-Height;
    min-height                       : av.$top-header-Height;
    width                            : 100%;
    height                           : 100%;
    background-color                 : rgba(0, 0, 0, .5);
    -webkit-backdrop-filter          : blur(64px) saturate(120%) brightness(80%);
    -moz-backdrop-filter             : blur(64px) saturate(120%) brightness(80%);
    backdrop-filter                  : blur(64px) saturate(120%) brightness(80%);
    pointer-events                   : none;
    z-index                          : -2;
    //        background-position    : 0 -500px;
}

.bg-img-header {
    display   : block;
    position  : absolute;
    top       : 0px;
    max-height: av.$top-header-Height;
    min-height: av.$top-header-Height;
    width     : 100%;

    background-repeat: calc(var(--vh, 1vh) * 100);
    background-size  : cover;

    height             : 100%;
    background-repeat  : calc(var(--vh, 1vh) * 100);
    z-index            : -1;
    background-position: 0 -500px;
}


.material-symbols-sharp {
    color         : white;
    font-size     : 24px;
    vertical-align: text-bottom;
    font-variation-settings:
        'FILL'0,
        'wght'300,
        'GRAD'-25,
        'opsz'24;

    &.filled {
        font-variation-settings:
            'FILL'1,
            'wght'300,
            'GRAD'-25,
            'opsz'24;
    }
}

//
// other media screen size
//
@media only screen and (max-width: 900px) {
    .img-top {
        object-fit      : cover;
        background-color: rgba(0, 0, 0, 0.5);

        min-width   : calc(av.$top-header-Height-mid - av.$top-header-Vertical-Indent-mid);
        min-height  : calc(av.$top-header-Height-mid - av.$top-header-Vertical-Indent-mid);
        max-width   : calc(av.$top-header-Height-mid - av.$top-header-Vertical-Indent-mid);
        max-height  : calc(av.$top-header-Height-mid - av.$top-header-Vertical-Indent-mid);
        margin-left : 32px;
        margin-right: 32px;
    }

    .header-container {
        flex          : 1 1 auto;
        display       : flex;
        flex-direction: row;
        padding-right : 8px;
    }

    .top-img-container {
        align-self: center;
        max-height: av.$top-header-Height-mid;
        min-height: av.$top-header-Height-mid;
    }
}

@media only screen and (max-width: 576px) {
    .img-top {
        object-fit      : cover;
        background-color: rgba(0, 0, 0, 0.5);

        max-width : 6rem;
        max-height: 6rem;
        min-width : 6rem;
        min-height: 6rem;
    }

    .header-container {
        flex          : 1 1 auto;
        flex-direction: column;
        display       : flex;
        padding-right : 8px;
    }

    .top-img-container {
        align-self: center;
        max-width : 7rem;
        max-height: 7rem;
        min-width : 7rem;
        min-height: 7rem;
    }
}