@use "card-layout";
@use "tailwindcss";

.selectRow {
    background: linear-gradient(to right, rgba(0, 255, 255, 0.2), rgba(0, 200, 255, 0.2));
    border-left: 3px solid aqua;
    
    .text-white {
        color: aqua !important;
    }
    
    .text-gray-400 {
        color: #7fffd4 !important;
    }
}

