<!--                                                                -->
<!-- Browse Result Music Items                                      -->
<!-- ############################################################## -->
@if (musicTracks()?.length > 0) {
<div id="Browse_Result_Music_Items" tabindex="-1" class="flex grow defaultFont font-semibold pe-4">
    @if (isListView()) {
    <div id="head_browse_result_items_list_view_ID" class="flex grow flex-col">
        <div class="flex grow row col-greyed text-xs pb-3 mt-2 h-full w-full">
        @if (allTracksSameAlbum()) {
            <div class="w-8 text-right">#</div>
            <div class="w-16 ms-3 grow-3">TITLE</div>
            <div class="w-16 ms-3 grow-2 hidden md:block">ARTIST</div>
            @if (extendedApi()) {<div class="w-24 text-center hidden lg:block">RATING</div>}
            <div class="w-16 ms-3 text-right">LG</div>
            <div class="w-4 ms-6">&nbsp;</div>
        } @else {
            <div class="w-16 ms-3">&nbsp;</div>
            <div class="w-16 ms-3 grow-3">TITLE</div>
            <div class="w-16 ms-3 grow-2">ALBUM</div>
            <div class="w-16 ms-3 grow-2 hidden md:block">ARTIST</div>
            @if (extendedApi()) {<div class="w-24 text-center hidden lg:block">RATING</div>}
            <div class="w-16 ms-3 text-right">LG</div>
            <div class="w-4 ms-6">&nbsp;</div>
        }
        </div>

        <!--                                  -->
        <!-- one item is displayed over a row -->
        <!--                                  -->
        @for (item of musicTracks(); track item.objectID) {
            @if (allTracksSameAlbum() && !allTracksSameDisc()) {
                @if (newDiscLabel(item)) {<div class="font-bold text-zinc-500 mb-2 pt-3">{{getDiscLabel(item)}}</div>}
            }

        <div class="flex grow text-sm tracking-widest font-semibold mb-1">
            <!--  COL 1 TRACK NUM OR IMAGE     -->
            @if (!allTracksSameAlbum()) {
            <div id="col_1_img_{{item.objectID}}" class="w-16 ms-3 {{selectedRowClass(item)}}" >
                <img class="img-small" src="{{item.albumArtUrl}}" (click)="playItem(item)">
            </div>
            } @else {
                <div id="col_1_num_{{item.objectID}}" class="w-8 text-right trackNum {{selectedRowClass(item)}}">@if(item.originalTrackNumber != 'null'){{{item.originalTrackNumber}}}</div>
            }

            <!--  COL 2 TITLE                  -->
            <div id="{{item.objectID}}" class="flex ms-3 w-16 grow-3 justify-between {{selectedRowClass(item)}}">
                <div class="content-center">{{item.title}}</div>
                <quality-badge class="content-center" [item]="item"></quality-badge>
            </div>

            <!--  COL 3 optional ALBUM         -->
            @if (!allTracksSameAlbum()) {
                <div id="OPT_ALBUM_{{item.objectID}}" (click)="playItem(item)" class="w-16 ms-3 grow-2 content-center">{{item.album}}</div>
            }
            
            <!--  COL 4 ARTIST                 -->
            <div id="OPT_ARTIST_{{item.objectID}}" (click)="playItem(item)" class="hidden ms-3 md:block w-16 ms-3 grow-2 content-center {{selectedRowClass(item)}}"> {{item.artistName}}</div>

            <!--  COL 5 optional RATING        -->
            @if (extendedApi()) {
                <div id="OPT_RATING_{{item.objectID}}" class="hidden lg:block w-24 content-center"><star-rating [currentSong]="item"></star-rating></div>
            }

            <!--  COL 6 TIME (LG)              -->
            <div id="OPT_TIME_{{item.objectID}}" class="w-16 ms-3 text-right">{{getDuration(item)}}</div>

            <!--  COL 7 song OPTION            -->
            <div id="OPT_OPTIONS_{{item.objectID}}" class="w-4 ms-6 col-greyed content-center font-bold" (click)="showSongPopup($event, item)">&#x22EE;</div>
        </div>
        }
    </div>
    } @else { <!-- CARD Layout -->
    <div id="head_browse_result_items_mixed_titles_ID" class="grid grid-cols-2 mt-3 xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 gap-3 defaultFont font-semibold">
        @for (item of musicTracks(); track item.objectID) {
        <div id="{{item.objectID}}" class="albumImageContainer flex flex-col">
            <img class="h-auto max-w-full" src="{{item.albumArtUrl}}" alt="{{item.title}}">
            <div class="overlay-child flex flex-col justify-center">
                <div class="flex justify-around items-center pb-4">
                    <span class="material-symbols-outlined md-36 m-3" (click)="playItem(item)">play_circle</span>
                    <span class="material-symbols-outlined md-36 m-3" (click)="addItemToPlaylist(item)">playlist_add</span>
                    <span class="material-symbols-outlined md-36 m-3" (click)="showSongPopup($event, item)">more_vert</span>
                </div>
            </div>
            <div class="flex mt-4 mb-4"> <!-- card-body & card-title from bootstrap -->
                <div class="ms-3">{{item.title}}</div>
            </div>
        </div>
        }
    </div>
    }
</div>
}