<!--                                                                -->
<!-- Browse Result Music Items                                      -->
<!-- ############################################################## -->
@if (musicTracks()?.length > 0) {
<div id="Browse_Result_Music_Items" tabindex="-1" class="defaultFont font-semibold">
    @if (isListView()) {
    <div id="head_browse_result_items_list_view_ID" class="flex flex-col">
        <div class="flex row col-greyed text-xs mb-3">
        @if (allTracksSameAlbum()) {
            <div class="w-8 text-right">#</div>
            <div class="w-64 ms-3 grow-3">TITLE</div>
            <div class="w-64 ms-3 grow-2">ARTIST</div>
            @if (extendedApi()) {<div class="w-24 ms-3 text-center">RATING</div>}
            <div class="w-16 ms-3 text-right">LG</div>
            <div class="w-4 ms-6">&nbsp;</div>
        } @else {
            <div class="w-16 ms-3">&nbsp;</div>
            <div class="w-64 ms-3 grow-3">TITLE</div>
            <div class="w-64 ms-3 grow-2">ALBUM</div>
            <div class="w-32 ms-3 grow-2">ARTIST</div>
            @if (extendedApi()) {<div class="w-24 ms-3 text-center">RATING</div>}
            <div class="w-16 ms-3 text-right">LG</div>
            <div class="w-4 ms-6">&nbsp;</div>
        }
        </div>

        <!--                                  -->
        <!-- one item is displayed over a row -->
        <!--                                  -->
        @for (item of musicTracks(); track item.objectID) {
        <div class="flex text-sm tracking-widest font-semibold">
           <!--   OPTINAL DISK LABEL          -->
            @if (allTracksSameAlbum() && !allTracksSameDisc()) {
                @if (newDiscLabel(item)) {<div class="disc-label">{{getDiscLabel(item)}}</div>}
            }

            <!--  COL 1 TRACK NUM OR IMAGE     -->
            @if (!allTracksSameAlbum()) {
            <div id="col_1_img_{{item.objectID}}" class="w-16 ms-3 {{selectedRowClass(item)}}" >
                <img class="img-small" src="{{item.albumArtUrl}}" (click)="playItem(item)">
            </div>
            } @else {
                <div id="col_1_num_{{item.objectID}}" class="w-8 text-right trackNum {{selectedRowClass(item)}}">@if(item.originalTrackNumber != 'null'){{{item.originalTrackNumber}}}</div>
            }

            <!--  COL 2 TITLE                  -->
            <div id="{{item.objectID}}" class="flex ms-3 w-64 grow-3 justify-between {{selectedRowClass(item)}}">
                <div class="content-center">{{item.title}}</div>
                <quality-badge class="content-center" [item]="item"></quality-badge>
            </div>

            <!--  COL 3 optional ALBUM         -->
            @if (!allTracksSameAlbum()) {
                <div id="OPT_ALBUM_{{item.objectID}}" (click)="playItem(item)" class="w-64 ms-3 grow-2 content-center">{{item.album}}</div>
            }
            
            <!--  COL 4 ARTIST                 -->
            <div id="OPT_ARTIST_{{item.objectID}}" (click)="playItem(item)" class="w-32 ms-3 grow-2 content-center {{selectedRowClass(item)}}"> {{item.artistName}}</div>

            <!--  COL 5 optional RATING        -->
            @if (extendedApi()) {
                <div id="OPT_RATING_{{item.objectID}}" class="w-24 ms-3 content-center"><star-rating [currentSong]="item"></star-rating></div>
            }

            <!--  COL 6 TIME (LG)              -->
            <div id="OPT_TIME_{{item.objectID}}" class="w-16 ms-3 text-right content-center">{{getDuration(item)}}</div>

            <!--  COL 7 song OPTION            -->
            <div id="OPT_OPTIONS_{{item.objectID}}" class="w-4 ms-6 col-greyed content-center" (click)="showSongPopup($event, item)">&#x22EE;</div>
        </div>
        }
    </div>
    } @else { <!-- CARD Layout -->
    <div id="head_browse_result_items_mixed_titles_ID" class="cardLayoutTiles">
        @for (item of musicTracks(); track item.objectID) {
        <div id="{{item.objectID}}" class="imgCardWidth mb-5 ms-4">
            <div class="albumImageContainer">
                <img src="{{item.albumArtUrl}}" alt="{{item.title}}">
                <div class="overlay-child flex flex-col justify-content-end">
                    <div class="flex justify-content-around items-center pb-4">
                        <span class="material-symbols-outlined md-36 m-3" (click)="playItem(item)">play_circle</span>
                        <span class="material-symbols-outlined md-36 m-3" (click)="addItemToPlaylist(item)">playlist_add</span>
                        <span class="material-symbols-outlined md-36 m-3" (click)="showSongPopup($event, item)">more_vert</span>
                    </div>
                </div>
            </div>
            <div class="flex card-body"> <!-- card-body & card-title from bootstrap -->
                <div class="flex minWidth">
                    <div class="card-title no-wrap">{{item.title}}</div>
                </div>
            </div>
        </div>
        }
    </div>
    }
</div>
}