<div class="popupFrame">
    <div class="popupHeader">add to playlist</div>
    <div class="popupDivider mt-2 mb-1">&nbsp;</div>
    <div class="popupBody">
        <mat-form-field [style.width.px]=500 class="w100" appearance="outline" class="setting-dropdown">
            <input matInput type="text" placeholder="search for playlist">
        </mat-form-field>
        <div class="playlist-list">
            @for (playlist of getServerPlaylists(); track playlist) {
                <div class="playlist-item" (click)="addToPlaylist(playlist.playlistId)">
                    <div>
                        {{playlist.playlistId}}
                    </div>
                    <div>
                        {{playlist.playlistName}}
                    </div>
                </div>
              }
        </div>        
    </div>
</div>