@use "buttons";
@use "tailwindcss";

.popupHeader {
    display      : flex;
    align-self   : center;
    color        : aqua;
    font-size    : larger;
    border-bottom: #999999;
    margin       : 1rem;
}

.popupFrame {
    font-weight   : 600;
    font-size     : 1rem;
    text-align    : left;
    letter-spacing: 0.05rem;
    background-color: rgba(30, 30, 30, 0.98);
    overflow-y: scroll;
}

.popupBody {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    margin         : 1rem;
    padding-left   : 1.5rem;
    padding-right  : 1.5rem;
    overflow-x     : hidden;
    overflow-y     : auto;
}

.popupElement {
    margin: 8px;
}

.popupDivider {
    font-size    : 1px;
    border-bottom: 1px solid var(--grey-5);
}

.playlist-list {
    display       : flex;
    flex-direction: column;
}

.playlist-item {
    display: flex;
}

.playlist-img {
    object-fit      : cover;
    background-color: rgba(0, 0, 0, 0.5);

    width        : 4rem;
    height       : 4rem;
    margin-bottom: 0.5rem;
    margin-top   : 0.5rem;
}

.playlist-item-text {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;

    margin-left  : 1rem;
    margin-top   : 8px;
    margin-bottom: 12px;
}

.fineText {
    color      : var(--glas-white-5);
    font-weight: 300;
    font-size  : smaller;
}

.headline {
    font-size     : 18px;
    font-weight   : 700;
    color         : var(--glas-white-1);
    padding-bottom: 1rem;
}

.searchInput {
    display        : flex;
    justify-content: center;
}

.inactive {
    color: var(--glas-white-3);
}

.active {
    color: cyan;
}

mat-form-field {
    width: 100%;
}

/*
    justify-self: center;
    justify-items: center;
    align-self: center;
*/