.panel {
    padding-top: 2rem;
    padding-left: 1rem;
}

.textNextToButton {
    display: flex;
    align-self: center;
    padding-left: 1rem;
}

.popupButton {
    color: azure;
}

.dialogItems {
    padding-bottom: 0.75rem;
}