.search-container {
    display      : flex;
    flex-flow    : column nowrap;
    border-radius: 8px;

    font-size  : 1rem;
    font-weight: 300;

    position        : fixed;
    height          : calc(var(--vh, 1vh) * 100 - 185px);
    top             : 70px;
    right           : 16px;
    background-color: #242528;
    z-index         : 70;

    overflow  : hidden;
    overflow-y: auto;

    transform-origin: 50% 0;
    transition      : all .2s ease;
}

.searchBoxWidth {
    width: 450px;
}

@media (max-width:450px) {
    .searchBoxWidth {
        width: 310px;
    }
}

.section-box {
    margin-top   : 2 rem;
    margin-bottom: 1.5rem;

    &:first-child {
        margin-top: 1rem;
    }
}

.search-title {
    font-size  : 1rem;
    font-weight: 500;
}

.search-show-all {
    font-size  : 1rem;
    font-weight: 300;
    color      : rgba(229, 238, 255, .6);
}

img {
    height       : 62px;
    width        : 62px;
    object-fit   : cover;
    border-radius: 4px;
}

.title {
    @extend .no-wrap;
    font-size     : 0.9rem;
    font-weight   : 500;
}

.artist {
    @extend .no-wrap;
    font-size  : 0.9rem;
    font-weight: 300;
    color      : rgba(229, 238, 255, .6);
    padding-top: 1rem;
}

.no-match {
    font-size  : 0.8rem;
    font-weight: 300;
    color      : rgba(229, 238, 255, .6);
}

.no-wrap {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    min-height   : 0;
    min-width    : 0;
}

.min-width {
    min-width : 0;
    min-height: 0;
}

.search-row {
    padding-bottom: 16px;
}

.row-text {
    display        : flex;
    padding-left   : 1.5rem;
    justify-content: center;
    flex-direction : column;
    min-width      : 0;
    min-height     : 0;
}

.searchImgHeight {
    max-width : 4rem;
    max-height: 4rem;
    width     : 4rem;
    height    : 4rem;
}