<!--
<div domTreeChange class="bg-default" (dom-changed)="domChange($event)">
  -->

<!--                                                                -->
<!-- Template : Browse Result General Container                     -->
<!-- ############################################################## -->

<!-- Top browsing element: Displays image and information about current container -->
<div id="display-container-component-top-id" class="flex flex-col w-full">
@if (showTopHeader()) {
  <div class="flex w-full">
    <display-container-header class="flex grow"
    [contentDirectoryService]="contentHandler().contentDirectoryService"

    [(listView)]="listView"
    [(quickSearchString)]="displayFilterString"
    [(selectedGenres)]="selectedGenres"

    (playClicked)="playPlaylist($event)"
    (shuffleClicked)="shufflePlaylist($event)"
    (addToPlaylistClicked)="addPlaylist($event)"
  />
  </div>
}

<!--
Main Content
==========================================
-->
<div id="display-container-main-content" class="flex grow ms-3 mt-8">
  <div class="flex flex-col grow mb-4">
    <!--
  playlist elements on first position
  =================================================================
  -->
    @if (playlistList?.length > 0) {
    <div id="head_browse_result_playlist_items_ID" class="flex w-full" tabindex="-1">
      <container-tile class="flex grow"
        [smallIcons]="this.allMusicTracks.length > 0" 
        [container]="playlistList"
        [quickSearchString]="displayFilterString()"
        [selectedGenres]="selectedGenres()"
        (browseClicked)="browseTo($event)">
      </container-tile>
    </div>
    }

    <!--                                                                -->
    <!-- Template : Browse Result Album                                 -->
    <!-- ############################################################## -->
    @if (albumList?.length > 0) {
    <div id="head_browse_result_album_ID" class="flex w-full">
      <container-tile class="flex grow"
        [smallIcons]="this.allMusicTracks.length > 0" 
        [container]="albumList"
        [quickSearchString]="displayFilterString()"
        [selectedGenres]="selectedGenres()"
        (browseClicked)="browseTo($event)">
      </container-tile>
    </div>
    }

    <div id="head_browse_result_items_ID" class="flex grow">
      <item-tile class="flex w-full"
        [isListView]="isListView()"
        [contentDirectoryService]="contentHandler().contentDirectoryService"
        [quickSearchString]="displayFilterString()"
        [selectedGenres]="selectedGenres()"
        [extendedApi]="extendedApi()"
        (playItemClicked)="playItem($event)"
        (addItemToPlaylistClicked)="addItemToPlaylist($event)"
        (addItemToPlaylistNextClicked)="addItemToPlaylistNext($event)"
      >
      </item-tile>
    </div>
    <!--                                -->
    <!-- General container section      -->
    <!--                                -->

    @if (container?.length > 0) {
    <div id="head_browse_result_general_container_ID" class="flex grow">
      <container-tile class="flex grow"
        [smallIcons]="this.allMusicTracks.length > 0" 
        [container]="container"
        [selectedGenres]="selectedGenres()"
        [quickSearchString]="displayFilterString()"
        (browseClicked)="browseTo($event)">
      </container-tile>
    </div>
    }

    
    <!--                                -->
    <!-- Other items                    -->
    <!--                                -->

    @if (otherItems_?.length > 0) {
    <div id="head_browse_other_items_ID" class="flex grow">
      <other-item-tile class="flex grow"
        [otherItems]="otherItems_"
        [quickSearchString]="displayFilterString()"
        (playItemClicked)="playItem($event)"
      ></other-item-tile>
    </div>
    }
  </div>
</div>
</div>