<!--
<div domTreeChange class="bg-default" (dom-changed)="domChange($event)">
  -->

<!--                                                                -->
<!-- Template : Browse Result General Container                     -->
<!-- ############################################################## -->

<!-- Top browsing element: Displays image and information about current container -->
<div id="display-container-component-top-id" class="flex flex-col w-full"
  [class.is-search]="isSearchResult()">
@if (headerVisible()) {
    <display-container-header
    [contentDirectoryService]="contentHandler()!.contentDirectoryService"

    [(listView)]="listView"
    [(quickSearchString)]="displayFilterString"
    [(selectedGenres)]="selectedGenres"
    [(sortCriteria)]="sortCriteria"
    [(ratingFilter)]="ratingFilter"
    [enableAlbumSort]="enableAlbumSort()"

    (playClicked)="playPlaylist($event)"
    (shuffleClicked)="shufflePlaylist($event)"
    (addToPlaylistClicked)="addPlaylist($event)"
  />
}

<!--
Main Content
==========================================
-->
<div id="display-container-main-content" class="flex grow ms-3 me-6" [class.with-sticky-header]="headerVisible()" [class.has-action-buttons]="musicTracks.length > 0">
  <div class="flex flex-col grow mb-4">
    <!--
  playlist elements on first position
  =================================================================
  -->
    @if (playlistList?.length > 0) {
    <div id="head_browse_result_playlist_items_ID" class="flex flex-col w-full" tabindex="-1">
      <div class="section-heading">
        <span class="section-label">Playlists</span>
        <span class="section-count">{{countLabel(visiblePlaylists(), playlistList.length)}}</span>
      </div>
      <container-tile class="flex grow"
        [smallIcons]="this.allMusicTracks.length > 0"
        [container]="playlistList"
        [quickSearchString]="displayFilterString()"
        [selectedGenres]="selectedGenres()"
        [ratingFilter]="ratingFilter()"
        (browseClicked)="browseTo($event)">
      </container-tile>
    </div>
    }

    <!--                                                                -->
    <!-- Template : Browse Result Album                                 -->
    <!-- ############################################################## -->
    @if (albumList?.length > 0) {
    <div id="head_browse_result_album_ID" class="flex flex-col w-full">
      <div class="section-heading">
        <span class="section-label">Albums</span>
        <span class="section-count">{{countLabel(visibleAlbums(), albumList.length)}}</span>
      </div>
      <container-tile #albumTile class="flex grow"
        [smallIcons]="this.allMusicTracks.length > 0"
        [container]="albumList"
        [quickSearchString]="displayFilterString()"
        [selectedGenres]="selectedGenres()"
        [ratingFilter]="ratingFilter()"
        [sortCriteria]="sortCriteria()"
        [virtualize]="true"
        (browseClicked)="browseTo($event)">
      </container-tile>
    </div>
    }

    <!--                                                                -->
    <!-- Template : Browse Result Artists                               -->
    <!-- ############################################################## -->
    @if (artists?.length > 0) {
    <div id="head_browse_result_artists_ID" class="flex flex-col w-full">
      <div class="section-heading">
        <span class="section-label">Artists</span>
        <span class="section-count">{{countLabel(visibleArtists(), artists.length)}}</span>
      </div>
      <container-tile #artistTile class="flex grow"
        [smallIcons]="this.allMusicTracks.length > 0"
        [container]="artists"
        [quickSearchString]="displayFilterString()"
        [selectedGenres]="selectedGenres()"
        [ratingFilter]="ratingFilter()"
        [virtualize]="true"
        (browseClicked)="browseTo($event)">
      </container-tile>
    </div>
    }

    @if (musicTracks.length > 0) {
    <div id="head_browse_result_items_ID" class="flex flex-col grow w-full">
      <div class="section-heading">
        <span class="section-label">Tracks</span>
        <span class="section-count">{{countLabel(visibleTracks(), musicTracks.length)}}</span>
      </div>
      <item-tile class="flex w-full"
        [isListView]="isListView()"
        [contentDirectoryService]="contentHandler()!.contentDirectoryService"
        [quickSearchString]="displayFilterString()"
        [selectedGenres]="selectedGenres()"
        [ratingFilter]="ratingFilter()"
        [extendedApi]="extendedApi()"
        [showGenre]="showGenre()"
        (playItemClicked)="playItem($event)"
        (addItemToPlaylistClicked)="addItemToPlaylist($event)"
        (addItemToPlaylistNextClicked)="addItemToPlaylistNext($event)"
      >
      </item-tile>
    </div>
    }
    <!--                                -->
    <!-- General container section      -->
    <!--                                -->

    @if (container?.length > 0) {
    <div id="head_browse_result_general_container_ID" class="flex flex-col grow">
      <div class="section-heading">
        <span class="section-label">Folders</span>
        <span class="section-count">{{countLabel(visibleFolders(), container.length)}}</span>
      </div>
      <container-tile #folderTile class="flex grow"
        [smallIcons]="this.allMusicTracks.length > 0"
        [container]="container"
        [selectedGenres]="selectedGenres()"
        [ratingFilter]="ratingFilter()"
        [quickSearchString]="displayFilterString()"
        [virtualize]="true"
        (browseClicked)="browseTo($event)">
      </container-tile>
    </div>
    }

    
    <!--                                -->
    <!-- Other items                    -->
    <!--                                -->

    @if (otherItems_?.length > 0) {
    <div id="head_browse_other_items_ID" class="flex flex-col grow">
      <div class="section-heading">
        <span class="section-label">Other items</span>
        <span class="section-count">{{countLabel(visibleOtherItems(), otherItems_.length)}}</span>
      </div>
      <other-item-tile class="flex grow"
        [otherItems]="otherItems_"
        [quickSearchString]="displayFilterString()"
        (playItemClicked)="playItem($event)"
      ></other-item-tile>
    </div>
    }
  </div>
</div>
</div>