<div class="outer-container">
    <div class="header-container">
      <div class="d-flex w-100 justify-content-center align-items-center">
        <div class="bg-img-header" id="header-background"></div>
        <!-- Header Button group -->
        @if(hasSongs()) {
          <div class="button-row">
            <div class="button-flex-container">
              <div class="button-container" (click)="playPlaylist(currentContainer)">
                <button class="btn-play" mat-mini-fab>
                  <mat-icon class="material-symbols-sharp filled">play_arrow</mat-icon>
                </button>
              </div>
              <div class="button-container" (click)="shufflePlaylist(currentContainer)">
                <button color="123" mat-mini-fab >
                  <mat-icon class="material-symbols-sharp">shuffle</mat-icon>
                </button>
              </div>
              <div class="button-container">
                <button class="{{getFavoriteCssBtnClass()}}" (click)="toggleLikeAlbum()" mat-mini-fab [disabled]="!likePossible()">
                  <mat-icon class="material-symbols-sharp {{getFavoriteCssIconClass()}}">favorite</mat-icon>
                </button>
              </div>
              <div class="button-container" (click)="toggleListView()">
                <button color="123" mat-mini-fab >
                  <mat-icon class="material-symbols-sharp">dashboard_customize</mat-icon>
                </button>
              </div>
              <div class="button-container" (click)="playlistService.addContainerToPlaylist(currentContainer)">
                <button color="123" mat-mini-fab >
                  <mat-icon class="material-symbols-sharp">playlist_add</mat-icon>
                </button>
              </div>
            </div>
          </div>
          }
        
        <div class="top-img-container">
          @if (currentContainer.albumartUri) {
          <div class="d-flex align-self-center">
            <img src="{{currentContainer.albumartUri}}" class="img-top">
          </div>}
        </div>
        <div class="d-flex flex-column w-100" id="ID_SCROLL_TO_ELEMENT_STEP_IN" tabindex="-1">
          <div class="right-button">
            @if (hasSongs()) {
            <div>
              <div class="d-flex flex-column mt-2">
                <div class="title">{{currentContainer.title}}</div>
                @if (musicItemsCount > 0) {
                @if (isContainerAlbum()) {
                <div class="d-flex regular">
                  <div>Album&nbsp;</div>
                  @if (currentContainer.artist) {<div>by {{currentContainer.artist}}</div>}
                </div>
                } @else {
                <div class="highlight">Soundtracks</div> }
                <div class="d-flex regular">
                  <div>{{musicItemsCount}} Tracks</div>
                  @if (totalPlaytime.length > 0) {
                  <div>&nbsp;-&nbsp;{{totalPlaytime}}</div>
                  }
                </div>
                }
              </div>
            </div>
            } @else {
            @if (currentContainer) {
            <div id="template_containerTitle" class="d-flex flex-column infobox align-self-start">
              <div class="title">{{currentContainer.title}}</div>
              @if (contentHandler?.contentDirectoryService?.currentContainerList?.totalMatches > 0 || musicItemsCount > 0) {
              <div class="regular"><span class="highlight pe-2">{{contentHandler.contentDirectoryService.currentContainerList.totalMatches}}</span> total elements
              </div>
              }
            </div>
            }
            }
            <!-- current content search box -->
            <div class="d-flex justify-content-between d-none mt-4 d-sm-flex">
              <mat-form-field appearance="outline" class="growingContainer me-2">
                <mat-label>search content</mat-label>
                <span matPrefix class="material-symbols-outlined thin md-light ms-2">search</span>
                <input [(ngModel)]="quickSearchString" matInput placeholder="search content" #searchInput (keyup)="keyUp($event)">
                <span matSuffix class="material-symbols-outlined thin md-light me-2" (click)="clearSearch()">close</span>
              </mat-form-field>
              @if (hasGenres()) {
              <div class="">
                <mat-form-field appearance="outline" class="">
                  <mat-label>Genre</mat-label>
                  <mat-select [formControl]="genresForm" multiple [(ngModel)]="selectedGenres">
                    <mat-option value="NONE">NONE</mat-option>
                    @for (genre of genresListSorted; track genre) {
                    <mat-option [value]="genre">{{genre}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              }
            </div>
          </div>
          <div class="d-flex">
            <div class="middle-spacer"></div>
          </div>
        </div>
      </div>
      <div class="d-flex mt-4 ms-2 d-sm-none flex-column">
        <div class="w-100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>search content</mat-label>
            <span matPrefix class="material-symbols-outlined thin md-light">search</span>
            <input [(ngModel)]="quickSearchString" matInput placeholder="search content" #searchInput (keyup)="keyUp($event)">
            <span matSuffix class="material-symbols-outlined thin md-light" (click)="clearSearch()">close</span>
          </mat-form-field>
        </div>
        @if (hasGenres()) {
        <div class="w-100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Genre</mat-label>
            <mat-select [formControl]="genresForm" multiple>
              @for (genre of genresList; track genre) {
              <mat-option [value]="genre">{{genre}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        }
      </div>
    </div>
  </div>