<div id="music-library-component-id" class="flex flex-col grow w-full">
  @if (layoutService.headerVisible) {
  <nav-bar class="absolute w-full" [parentTitle]="getParentTitle()" [homeButtonVisible]="true"
    [backButtonVisible]="backButtonVisible()" [contentHandler]="getContentHandler()"
    (backButtonPressed)="backButtonPressed($event)" (homeButtonPressed)="homeButtonPressed($event)"></nav-bar>
  }

  @if(!mediaServerSelected()) {
      <div id="server-slection" class="flex flex-col ml-4 pt-8">
        <div class="text-lg font-bold mb-2">Select Media Server</div>
        <div class="inline-flex items-center text-sm mb-2">You can change the media server selection later by clicking the
            <span class="material-symbols-outlined icon-main">dns</span> button.            
        </div>
        <div class="text-sm inline-flex items-center">
            Select a media renderer by clicking the 
            <span class="material-symbols-outlined icon-main">speaker</span> button.
        </div>
        @for (device of deviceService.mediaServerList(); track device) {
          <div class="mt-8">
            <button (click)="selectServer(device.udn)" class="ml-4 rounded-md ring-2 py-2 px-4 ring-slate-600 hover:bg-slate-600">
              <img class="h-6 w-6 absolute" src="{{device.img}}" alt="{{device.friendlyName}}">
              <span class="ml-10 text-slate-200">{{device.friendlyName}}</span>
            </button>
          </div>
        }
        @if(deviceService.mediaServerList().length == 0) {
          <div class="p-4 max-w-lg mb-4 text-sm mt-8 rounded-lg bg-gray-800 text-red-400" role="alert">
            No media servers have been discovered on the network.
          </div>          
        }
      </div>
  }

  <!-- display music library -->
  <div class="flex w-full">
    <mediaServer-display-container class="flex grow flex-col w-full" [showTopHeader]="showTopHeader()" [contentHandler]="getContentHandler()"
      (containerSelected)="containerSelected($event)" (itemDeleted)="itemDeleted($event)" />
  </div>
</div>