<div class="flex max-w-2xl items-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
    <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path [attr.d]="svgPath()"/>
    </svg>
    
    <!-- Screen Reader information-->
    <span class="sr-only">{{screenReader()}}</span>
    
    <span class="font-medium">{{prefix()}}</span> 
    
    <div class="ms-4 font-light">{{text()}}</div>
    
</div> 