<div class="mt-3">
    <div class="flex section head">
        <div class="">{{network().displayName}}</div>
        <div>
            <mat-form-field appearance="outline" class="ms-3 me-1 setting-dropdown">
                <mat-label>Channel Filter</mat-label>
                <mat-select [(ngModel)]="filter" placeholder="reading filter ...">
                  @for (f of filters(); track f) {
                  <mat-option [value]="f">
                    {{f}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
        </div>
    </div>

    @if(channels().length > 0) {
        <div class="albumLayout ps-3">
            @for (item of channels(); track item.id) {
            <div class="albumTile" (click)="selectChannel(item)">
                <div class="albumImageContainer">
                    <img src="{{item.albumArt}}" class="imgContainer" alt="{{item.name}}">
                    <div class="overlay-child flex justify-center items-center">
                        <span class="material-symbols-outlined md-48" (click)="selectChannel(item)">play_arrow</span>
                      </div>      
                </div>
                <div class="flex flex-col albumDesc">
                    <div class="highlightFolderText">RADIO</div>
                    <div class="card-title">{{item.name}}</div>
                </div>
            </div>
            }
        </div>
    } @else {
        <div>
            Updating channels. PLEASE WAIT ... 
        </div>
    }
</div>