.dialogTitle {
    font-size     : 1rem;
    letter-spacing: 0.05rem;
    font-weight   : 500;
    min-width     : 250px;
    padding-left  : 20px;
    padding-top   : 16px;
    padding-bottom: 12px;
    color         : var(--snow-white);
}

.element-item {
    color         : var(--glas-white-2);
    padding-top   : 8px !important;
    padding-left  : 40px !important;
    padding-right : 8px !important;
    height        : 40px;
    width         : 100%;
    color         : var(--snow-white);
    font-weight   : 500;
    font-size     : 0.9rem;
    letter-spacing: 0.05rem;

    &:hover {
        background-color: var(--grey-5);
        color           : var(--glas-white-3);
    }
}

.selected {
    color: var(--primary-color);
}