<div class="panel border-0 rounded-xl" (mouseleave)="close()">
  <div class="border-0 border-b-1 text-lg font-bold border-zinc-600 p-4">Media Renderer</div>
  <div class="dialogItems flex flex-col flex-wrap mt-4 minWidth">
  @for (device of filteredMediaRendererList(); track device) {
        <div class="flex no-wrap element-item {{getSelectedClass(device.udn)}}"
          (click)="selectRenderer(device.udn)">
          <img class="h-6 w-6" src="{{device.img}}" alt="{{device.friendlyName}}">
          <div class="ml-4">{{device.friendlyName}}</div>
        </div>
  }
  </div>
</div>
