@import "pantone";
@import "buttons";

.img-top {
    background-repeat: 100vh;
    background-size  : cover;
    background-color : rgba(0, 0, 0, 0.5);
    background-image : url(/assets/folder-bg.png);

    width : 12rem;
    height: 12rem;
}

.play-overlay-button {
    color    : white;
    opacity  : 1;
    font-size: 4rem;
    width    : 4rem;
    height   : 4rem;
    margin   : 0.7rem;
}

.play-overlay {
    position        : absolute;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    height          : 100%;
    width           : 100%;
    opacity         : 0;
    background-color: rgba($color: $pantone-Neutral-Black-C, $alpha: 0.95);
    text-align      : center;
    transition      : .3s ease;
    opacity         : 0;

    &:hover {
        opacity: 0.7;
    }
}

.infobox {
    padding-left: 2rem;
    padding-top : 1rem;
    align-self  : center;
}

.title {
    font-size     : 1.5rem;
    font-weight   : 400;
    align-self    : flex-start;
    padding-bottom: 0.7rem;
}

.album {
    padding-bottom: 0.7rem;
}

.outer-container {
    margin-left: 60px;
    margin-top : 30px;
}


.plainText {
    font-size  : 1rem;
    font-weight: 300;
}

.regular {
    @extend .plainText;
    font-size  : 1rem;
    font-weight: 300;
    color      : rgba(229, 238, 255, .6);
}


.highlight {
    @extend .plainText;
    color: white;
}
