@import "pantone";
@import 'appTable';
@import "card-layout";

// "play-button" overlay symbol
.play-overlay-button {
    color    : white;
    opacity  : 1;
    font-size: 3rem;
    width    : 3rem;
    height   : 3rem;
}

.play-overlay {
    position        : absolute;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    height          : 100%;
    width           : 100%;
    opacity         : 0;
    background-color: rgba($color: $pantone-Neutral-Black-C, $alpha: 0.95);
    text-align      : center;
    transition      : .3s ease;
    opacity         : 0;
    max-width: $imgCardWidth;
    min-width: $imgCardWidth;
    max-height: $imgCardWidth;
    min-height: $imgCardWidth;

    &:hover {
        opacity: 0.7;
    }
}

.mixedTitles {
    padding-top: 3rem;
}

.mat-icon-sm {
    transform: scale(0.6);
}

.mat-icon-button-sm {
    width: 14px;
    height: 14px;
}