@import "custom_variables";
//
// variables used by the application 
// ===================================================================

$paddingLeftColumn             : 1rem;
$fontNormal                    : 1.1rem;
$cardWidth                     : 16rem;
$cardBorderWidth               : 1px;

$section-button-col            : $pantone-429-C;
$section-button-col-back       : $pantone-433-C;
$section-button-col-back-hover : $pantone-309-C;
$border-primary                : $blue-pantone-2;

// added hover effect für bootstrap card images
$imgCardWidth : calc(#{$cardWidth} - 2*#{$cardBorderWidth});
