@import "pantone";
@import "app-variables";


@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}

:root {
    --snow-white             : rgb(255, 255, 250);
    --glas-white-2           : rgba(255, 255, 255, 0.8);
    --glas-white-3           : rgba(255, 255, 255, 0.7);
    --glas-white-4           : rgba(255, 255, 255, 0.6);
    --glas-white-5           : rgba(255, 255, 255, 0.5);
    --glas-white-6           : rgba(255, 255, 255, 0.4);
    --glas-white-7           : rgba(255, 255, 255, 0.3);
    --glas-white-8           : rgba(255, 255, 255, 0.2);
    --primary-color          : rgb(0, 255, 255);
    --primary-color-reduced  : rgba(0, 255, 255, 0.5);
    --primary-color-reduced-2: rgba(0, 255, 255, 0.2);

    --color-orange-reduced-3: rgba(255, 184, 28, 0.7);
    --color-orange-reduced-5: rgba(255, 184, 28, 0.5);
    --color-orange-reduced-7: rgba(255, 184, 28, 0.3);

    --color-transparent: rgba(0, 0, 0, 0);

    --grey-5: rgb(58 61 68);

    --bg-grey-2: rgba(229, 238, 255, .8);
    --bg-grey-4: rgba(229, 238, 255, .6);
    --bg-grey-6: rgba(229, 238, 255, .4);
    --bg-grey-8: rgba(229, 238, 255, .2);

    --footer-height    : 5rem;
    --sidebar-width    : 250px;
    --sidebar-width-min: 55px;
    --nav-height       : 75px;

}

// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Lato:100,300,700" !default;
@import url($web-font-path);

// Disable focus frame
*:focus {
    outline: none;
}


//
// Overlay
//

.overlay-container {
    position: relative;
}

.overlay-child {
    position        : absolute;
    top             : 0;
    right           : 0;
    height          : 100%;
    width           : 100%;
    opacity         : 0;
    background-color: rgba($color: $pantone-Neutral-Black-C, $alpha: 0.95);
    text-align      : center;
    transition      : .3s ease;
    opacity         : 0;

    &:hover {
        opacity: 0.7;
    }
}

//
// Icons : See design guide at : https://developers.google.com/fonts/docs/material_icons
// 
.material-symbols-outlined {
    &.md-18 {
        font-size: 18px;
    }

    &.md-24 {
        font-size: 24px;
    }

    &.md-36 {
        font-size: 36px;
    }

    &.md-48 {
        font-size: 48px;
    }

    &.utltra-thin {
        font-variation-settings: 'wght'100, 'FILL'0, 'GRAD'-25, 'opsz'24;
    }

    &.thin {
        font-variation-settings: 'wght'300, 'FILL'0, 'GRAD'-25, 'opsz'24;
    }

    &.bold {
        font-variation-settings: 'wght'500, 'FILL'0, 'GRAD'-25, 'opsz'24;
    }

    &.extra-bold {
        font-variation-settings: 'wght'700, 'FILL'0, 'GRAD'-25, 'opsz'24;
    }

    &.extra-bold {
        font-variation-settings: 'wght'700, 'FILL'0, 'GRAD'-25, 'opsz'24;
    }

    &.md-light {
        color: var(--glas-white-7);
    }

}

/* Rules for sizing the icon. */
.icons-size-xs {
    font-size: 18px;
}

.icons-size-sm {
    font-size: 24px;
}

.icons-size-m {
    font-size: 36px;
}

.icons-size-lg {
    font-size: 48px;
}

//
// application classes for individual components
// ===================================================================================

// overwrite material design ... 

.trans-color {
    color: var(--color-transparent);
}

.no-wrap {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    min-height   : 0;
    min-width    : 0;
}

.minWidth {
    min-width : 0;
    min-height: 0;
}

.middle-spacer {
    flex: 1 30 0;
}


// Navbar ======================================================================

.navbar {
    padding-left  : 1rem;
    padding-right : 1rem;
    padding-top   : 0.5rem;
    padding-bottom: 0.5rem;
}


// Section 
.section {
    font-weight: 300;
    width      : 100%;

    &.input {
        -webkit-box-flex: 1;
        -moz-box-flex   : 1;
        -webkit-flex    : 1;
        -moz-flex       : 1;
        -ms-flex        : 1;
        flex            : 1;
    }

    &.line {
        margin-top: 1rem;
    }

    &.head {
        font-size: 1.35rem;

        padding-top   : 1.2rem;
        padding-bottom: 0.2rem;
        padding-left  : $paddingLeftColumn;

        margin-bottom: 0.8rem;

        border-bottom: 1px solid $border-primary;
    }

    &.subhead {
        font-size: 1.1rem;

        padding-top   : 0.8rem;
        padding-bottom: 0.2rem;
        padding-left  : $paddingLeftColumn + 1rem;

        margin-bottom: 0.8rem;
    }

    &.label {
        font-size: $fontNormal;

        padding-top   : 0.6rem !important;
        padding-bottom: 0.6rem !important;

        height: 3.2rem;
    }

    // 2 cols, label and display value (all in all 4 cols)
    &.item-2-label {
        display  : inline-block;
        font-size: $fontNormal;
        width    : 20%;
    }

    &.item-2-disp {
        display  : inline-block;
        font-size: $fontNormal;
        width    : 30%;
    }

    &.item-label {
        display     : inline-block;
        font-size   : $fontNormal;
        width       : 30%;
        padding-left: $paddingLeftColumn;
    }

    &.item-disp {
        display      : inline-block;
        font-size    : $fontNormal;
        width        : 70%;
        padding-right: 20rem;
    }

    &.padding {
        padding-left: $paddingLeftColumn;
    }
}

.section-button {
    color: $section-button-col;

    &.sec-border {
        border-radius   : 1rem;
        border          : 2px solid $section-button-col;
        background-color: $section-button-col-back;

        &:hover {
            background-color: $section-button-col-back-hover;
            transition      : all 200ms ease-in-out;
        }

    }

    &.text {
        font-size    : 1rem;
        color        : $section-button-col;
        margin-left  : 0.3rem;
        margin-right : 0.7rem;
        margin-top   : 0.3rem;
        margin-bottom: 0.3rem;
    }
}


// Alignment for text columns
.contentDirectoryObject {
    padding-left: $paddingLeftColumn;
    font-size   : $fontNormal;
    height      : 2rem;
}


input {
    &.form {
        width    : 100%;
        font-size: 1rem;
    }
}

//
// Extending / patching external libraries 
// =========================================================================================================================

//
// Toastr tuning
//
.toast-container .ngx-toastr {
    width: 600px;
}


.image-folder {
    background-color: #3c3832;
}

.highlightFolderText {
    font-size     : 0.7rem;
    font-weight   : 500;
    color         : var(--primary-color);
    letter-spacing: 0.1rem;
    padding-bottom: 8px;
}


// Global Popup definition
.popup {
    mat-dialog-container {
        background-color: rgb(#242528, 0.95);
        overflow        : hidden;
        overflow-y      : auto;
        padding         : 0px;
        max-width       : 400px;
        border-radius   : 4px;
    }
}

.popup-rounded {
    @extend .popup;

    mat-dialog-container {
        border-radius: 8px;
    }
}

// Global buttons definitios
.buttons {
    line-height     : 1rem;
    height          : 2rem;
    background-color: var(--bg-grey-8);
    text-align      : left;
    min-width       : 8rem;

    &:first-child {
        margin-left: 0;
    }
}

button:focus {
    outline: none;
}

.col-greyed {
    color: rgba(229, 238, 255, .6);
}

.plainTextBase {
    font-size  : 1 rem;
    font-weight: 500;
}

.infotext {
    margin-top : 60px;
    margin-left: 90px;
}

.regularText {
    @extend .plainTextBase;
    color: rgba(229, 238, 255, .6);
}

.regularHighlight {
    @extend .plainTextBase;
    color: var(--snow-white);
}

.app-badge {
    flex-shrink: 0;
    margin-left: 10px;

    display          : flex;
    -webkit-box-pack : center;
    justify-content  : center;
    -webkit-box-align: center;
    align-items      : center;
    box-sizing       : border-box;
    border-radius    : 4px;
    padding          : 3px 6px 3px 6px;
    width            : fit-content;
    border           : 1px solid rgba(153, 114, 75, 0.6);
}

.app-badge-text {
    margin        : 0px;
    font-size     : 8px;
    font-weight   : 700;
    letter-spacing: 0.08em;
    line-height   : 12px;
    text-transform: uppercase;
    color         : rgb(255, 190, 125);
}