.popupHeader {
    display      : flex;
    align-self   : center;
    color        : aqua;
    font-size    : larger;
    border-bottom: #999999;
    margin       : 1rem;
}

.popupFrame {
    width         : 600px;
    font-weight   : 600;
    font-size     : 1rem;
    text-align    : left;
    letter-spacing: 0.05rem;
}

.popupBody {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    margin         : 1rem;
    padding-left   : 2.5rem;
    padding-right  : 2.5rem;
    overflow-x     : hidden;
    overflow-y     : auto;
}

.popupElement {
    margin: 8px;
}

.popupDivider {
    font-size    : 1px;
    border-bottom: 1px solid var(--grey-5);
}