.item-table {
    font-size     : 1rem;
    font-weight   : 600;
    text-align    : left;
    align-self    : stretch;
    text-transform: initial;

    .item-thead {
        font-size     : 0.7rem;
        font-weight   : 600;
        margin        : 15px 0;
        text-align    : left;
        align-self    : stretch;
        text-transform: initial;
    }

    .item-tbody {
        flex          : 1 1 auto;
        font-size     : 0.9rem;
        text-align    : left;
        align-self    : stretch;
        text-transform: initial;
        letter-spacing: 1.15px;
        min-width     : 100px;
    }
}

/*         &:hover {
    background: rgba(88, 109, 148, 0.2);
}
}
*/
