// Global buttons definitios
.my-buttons {
    color           : var(--glas-white-3);
    background-color: rgba(229, 238, 255, .1);
    text-align      : left;
    min-width       : 11rem;
    margin          : 4px;

    font-weight: 600;
    font-size  : 0.9rem;

    letter-spacing: 1.25px;

    justify-content: flex-start;

    &.more-solid {
        background-color: rgba(229, 238, 255, .3);
    }
}