@import "app-variables";

// ALBUM formatting section
// ============================================
$grid-flex-basis     : 0rem;
$grid-flex-min-width : 8rem;
$grid-flex-max-width : 20rem;

$grid-flex-sm-basis     : 6rem;
$grid-flex-sm-min-width : 6rem;
$grid-flex-sm-max-width : 9rem;


.albumImageContainer {
    display    : flex;
    position   : relative;
    margin-left: 1rem;

    flex-basis: $grid-flex-basis;
    min-width : $grid-flex-min-width;
    max-width : $grid-flex-max-width;
    flex-grow : 1;

    margin: auto;
}

.albumTile {
    display       : flex;
    flex-direction: column;

    max-width: $grid-flex-max-width;
    flex     : 5 1 $grid-flex-basis;

    padding: 1rem;

    font-size     : 0.9rem;
    font-weight   : 500;
    letter-spacing: 0.08rem;
}


// IMG & Title !
.albumTitle {
    color        : var(--snow-white);
    font-weight  : 400;
    margin-bottom: 0.5rem;
}

.albumLayout {
    flex          : 1 1 0;
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    min-width     : 0px;
}

.albumDesc {
    margin-left: 1rem;
    margin-top : 1rem;
    min-width  : 10rem;
    width      : 100%;
}

// small devices card layout config
@media only screen and (max-width: 576px) {

    // Parent class for card layout / album laout look & feel
    .albumLayout {
        flex          : 1 1 0;
        display       : flex;
        flex-direction: column;
        flex-wrap     : wrap;
        min-width     : 0px;
    }

    .albumDesc {
        margin-left: 1rem;
        min-width  : 10rem;
        width      : 100%;
        align-self : center;
    }

    // parent overlay div. child element must 
    .albumImageContainer {
        display    : flex;
        position   : relative;
        margin-left: 1rem;

        flex-basis: $grid-flex-sm-basis;
        min-width : $grid-flex-sm-min-width;
        max-width : $grid-flex-sm-max-width;
        flex-grow : 1;

        margin: auto;
    }

    .albumTile {
        display       : flex;
        flex-direction: row;

        min-width: $grid-flex-sm-min-width;
        max-width: none;
        flex     : 5 1 $grid-flex-sm-basis;

        padding      : 1rem;
        color        : var(--snow-white);
        margin-bottom: 0.5rem;

        font-size     : 0.9rem;
        font-weight   : 500;
        letter-spacing: 0.08rem;
    }
}


.albumImageContainer img {
    width : 100%;
    height: auto;
}

.albumSubheader {
    color         : grey;
    letter-spacing: 0.1rem;
    margin-bottom : 0.4rem;
}

.albumYear {
    color         : grey;
    font-size     : 0.7rem;
    letter-spacing: 0.15rem;
}

.imgCardWidth {
    flex-basis: $imgCardWidth;
    max-width : $imgCardWidth;
}

.imgCardHeight {
    max-height: $imgCardWidth;
}