// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@use '@angular/material' as mat;

// Read https://dev.to/nephiw/theming-material-design-mm3 in case of having trouble applying an individual color theme.
// Merging maps :
// https://stackoverflow.com/questions/43438305/how-to-change-font-color-of-primary-palette-in-angular-material2

@import 'pantone';
@import 'custom_variables';
@import 'nextcp-palette';

$my-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'HK Grotesk, Lato, Quicksand, sans-serif',    
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

html {

  @include mat.all-component-themes($my-theme);

  // Emit theme-dependent styles for common features used across multiple components.
//  @include mat.core-theme($my-theme);

  // Emit styles for MatButton based on `$my-theme`. Because the configuration
  // passed to `define-theme` omits typography, `button-theme` will not
  // emit any typography styles.
//  @include mat.button-theme($my-theme);

  // Include the theme mixins for other components you use here.
}

:root {
  --mdc-outlined-text-field-label-text-font : HK Grotesk, Lato, Quicksand, sans-serif;
}