<div class="d-flex flex-column footer">

    <!-- upper footer section -->
    <div class="progress-bar">
        <mat-progress-bar class="progress-bar" mode="determinate" value="{{rendererService.trackTime.percent}}">
        </mat-progress-bar>
    </div>

    <div class="d-flex flex-row justify-content-between">
        <!-- left footer section -->
        <div class="d-flex left-footer">
            <img src="{{getImgSrc()}}" class="cropImgSquareCard">

            <div class="d-flex flex-column minWidth albumAndTitle">
                <div class="title no-wrap">{{getCurrentSongTitle()}}</div>
                <div class="d-flex flex-column no-wrap">
                    <div class="album align-self-start">
                        {{rendererService.trackInfo?.currentTrack?.album}}</div>
                    <div class="artist align-self-start">
                        {{rendererService.trackInfo?.currentTrack?.artistName}}</div>
                </div>
            </div>
        </div>

        <!-- Middle footer section -->
        <div class="m-2 middle-footer d-flex flex-row justify-content-between">
            <div class="ml-4 mr-2 d-flex align-self-center">
                <mat-icon class="icon-button secondary {{shuffleClass}}" svgIcon="shuffle"
                    (click)="playlistService.toggleShuffle()" aria-label="shuffle"></mat-icon>
                <mat-icon class="icon-button secondary" svgIcon="skip-backward" (click)="playlistService.previous()"
                    aria-label="skip-backward"></mat-icon>
                <mat-icon *ngIf="!avtransportService.isPlaying()" (click)="playlistService.play()"
                    class="icon-button main" svgIcon="play" aria-label="play"></mat-icon>
                <mat-icon *ngIf="avtransportService.isPlaying()" (click)="playlistService.pause()"
                    class="icon-button main" svgIcon="pause" aria-label="play"></mat-icon>
                <mat-icon class="icon-button secondary" svgIcon="skip-forward" (click)="playlistService.next()"
                    aria-label="skip-forward"></mat-icon>
                <mat-icon class="icon-button secondary {{repeatClass}}" svgIcon="repeat"
                    (click)="playlistService.toggleRepeat()" aria-label="repeat"></mat-icon>
            </div>
            <div class="mr-2 ml-4 d-flex align-self-center" *ngIf="!streaming()">
                <div class="currentTime">{{rendererService.trackTime.secondsDisp}}</div>
                <div class="ml-2 currentTime">/</div>
                <div class="ml-2 finishedTime">{{rendererService.trackTime.durationDisp}}</div>
            </div>
            <div class="mr-2 ml-4 d-flex align-self-center" *ngIf="streaming()">
                <div class="currentTime">streaming</div>
            </div>
        </div>

        <!-- right footer section -->

        <div class="m-2 pl-2 right-footer mr-4 d-flex flex-column">

            <div class="d-flex justify-content-between">
                <div class="audioInfoLabel">sample freq.</div>
                <div class="d-flex justify-content-between">
                    <div class="audioInfoValue ">
                        {{getSampleFreq() | number}}
                    </div>
                    <div class="unit">[kHz]</div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="audioInfoLabel">bits/sample</div>
                <div class="d-flex justify-content-between">
                    <div class="audioInfoValue align-self-end">
                        {{getBitsPerSample() | number}}
                    </div>
                    <div class="unit">[bit]</div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="audioInfoLabel">bitrate</div>
                <div class="d-flex justify-content-between">
                    <div class="audioInfoValue">
                        {{getBitrate() | number}}
                    </div>
                    <div class="unit justify-content-end">[kbit/s]</div>
                </div>
            </div>
        </div>
    </div>
</div>