// individual style for mat-slider component
@use '@angular/material'as mat;
$slider-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$cyan-palette),
            accent: mat.define-palette(mat.$cyan-palette),
            warn: mat.define-palette(mat.$cyan-palette),
        ),
    ));
@include mat.slider-color($slider-theme);

@import "app-variables";
@import "pantone";

$col-1: $amber-pantone-3;
$col-2: $amber-pantone-4;
$col-3: $amber-pantone-5;
$col-4: $amber-pantone-6;

$col-grey: $col-4;


.footer {
    font-weight     : 600;
    font-size       : 1rem;
    position        : fixed;
    left            : 0;
    bottom          : 0;
    height          : var(--footer-height);
    width           : 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align      : left;
    letter-spacing  : 0.05rem;
    z-index         : 80;
}

mat-slider {
    height: 40px;
}

.timeDispContainer {
    font-family: 'HK Grotesk';
    font-weight: 600;
    font-style : normal;


    flex           : 1 2 auto;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-self     : center; // vertical center
    width          : 150px;
    min-width      : 150px;
}

.icon-font {
    font-variation-settings: 'wght'300, 'FILL'0, 'GRAD'-25, 'opsz'24;
    align-self             : center;
    color                  : var(--glas-white-5);
}

.infoItems {
    display      : flex;
    flex         : 1 1 6rem;
    border-left  : 2px solid var(--dark-grey);
    padding-right: 10px;
    margin-top   : 24px;
    margin-bottom: 24px;
}

.button-group {
    display        : flex;
    flex           : 3 1;
    align-self     : center;
    justify-content: space-evenly;
}

.icon-button {
    @extend .icon-font;

    &.active {
        color: $blue-pantone-2;
    }

    &.disabled {
        color: var(--glas-white-8);
    }

    &:first-child {
        margin-left: 0;
    }
}

.icon-main {
    font-variation-settings: 'wght'300, 'FILL'0, 'GRAD'-25, 'opsz'24;
    padding-left           : 0.2rem;
    padding-right          : 0.2rem;
    color                  : var(--glas-white-5);
    align-self             : center;
}

.time-progressbar {
    height: 5px;
    width : 100%;
}

.qualityBadge {
    margin-right: 0.5rem;
    margin-left : 0.5rem;
    align-self  : center;
}

.audioInfoLabel {
    color: $col-4;
    width: 8rem;
}

.unit {
    color       : $col-4;
    margin-left : 8px;
    width       : 2.5rem;
    margin-right: 8px;
}

.audioInfoValue {
    color          : $col-2;
    width          : 4.5rem;
    align-self     : flex-end;
    text-align     : end;
    text-align-last: end;
}

.baseFontsize {
    font-size: 1rem;
}

.timeText {
    font-size     : 0.8rem;
    font-weight   : 600;
    color         : var(--glas-white-5);
    letter-spacing: 0.02rem;
    align-self    : center; // vertical center
    padding-left  : 1rem;
    padding-right : 1rem;
}

.timeProgessContainer {
    margin-bottom: 1rem;
    position     : relative;
    align-self   : center;
    display      : flex;
    width        : 100%;
}

.inputSource {
    margin-top: 1.2rem;

    font-size     : 1rem;
    color         : var(--glas-white-5);
    letter-spacing: 0.07rem;
}

img {
    height       : calc(var(--footer-height) - 2px);
    width        : calc(var(--footer-height) - 2px);
    border-radius: 8px;
    padding      : 4px;
}

.standbyOn {
    color: $pantone-Bright-Red-C;
}

.standbyOff {
    color: $pantone-802-C;
}

.spacer {
    height: var(--footer-height);
}

.albumAndTitle {
    flex     : 3 3 6rem;
    font-size: 1.2rem;
    color    : rgba(229, 238, 255, .3);

    font-variation-settings: "wght"200;

    margin-left    : 1.5rem;
    margin-top     : 0.2rem;
    margin-bottom  : 0.2rem;
    align-self     : center;
    justify-content: space-between;
}

.title {
    @extend .baseFontsize;
    font-size              : 0.95rem;
    font-weight            : 500;
    font-variation-settings: "wght"500;
    color                  : rgb(252, 252, 252);
    margin-bottom          : 4px;
}

.artist {
    @extend .baseFontsize;
    font-size    : 0.85rem;
    font-weight  : 400;
    color        : rgba(252, 252, 252, 0.65);
    margin-bottom: 16px;
}

.album {
    @extend .baseFontsize;
    font-size    : 0.85rem;
    font-weight  : 400;
    color        : rgba(252, 252, 252, 0.65);
    margin-bottom: 4px;
}

.albumLabel {
    @extend .baseFontsize;
    font-size    : 0.85rem;
    font-weight  : 400;
    color        : rgba(128, 128, 128, 0.65);
    margin-bottom: 4px;
}

.minWidth {
    min-width : 0;
    min-height: 0;
}

.no-wrap {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    min-height   : 0;
    min-width    : 0;
}

.renderer-label {
    align-self : center;
    text-align : center;
    font-size  : 1rem;
    font-weight: 400;
    color      : var(--glas-white-3);
    align-self : flex-start;
    color      : var(--primary-color-reduced);
}

.renderer-icon {
    font-size     : 1.2rem;
    width         : 2rem;
    height        : 1.3rem;
    color         : var(--primary-color-reduced);
    align-self    : center;
    vertical-align: middle;
}

/**
    Footer sections
    ==============================================================
**/
.left-footer {
    flex      : 4 1 26rem;
    min-height: 0;
    min-width : 200px;
}

.middle-div {
    flex           : 6 1 16rem;
    display        : flex;
    height         : 100%;
    align-self     : top;
    justify-content: space-around;
}

.footer-spacer {
    display: flex;
    flex   : 1 1 0;
}

.right-footer {
    flex           : 2 1 8rem;
    align-self     : center;
    justify-content: space-evenly;
    border-left    : 2px solid var(--dark-grey);
}

.mySlider {
    max-width : 150px;
    height    : 48px;
    width     : 100%;
    align-self: center;
    opacity   : 0;
}

.progressbar {
    align-self: center;
}

.time-slider {
    height : 48px;
    width  : 100%;
    opacity: 0;
    top      : -1rem;
}

.timeSliderBox {
    position : relative;
    display  : flex;
    width    : 100%;
    min-width: 150px;

    &:hover .hidden {
        opacity: 1;
        margin : auto;
    }

    &:hover>.progressbar {
        opacity: 0;
    }
}

.overlayBox {
    position    : relative;
    padding-left: 0.5rem;

    &:hover .hidden {
        opacity: 1;
        margin : auto;
    }

    &:hover>.progressbar {
        opacity: 0;
    }
}

.absolute {
    position: absolute;
}

.hidden {
    opacity: 0;
}

.volume-bar {
    line-height: 1.6rem;
}

.songPopup {
    flex           : 1 1 10px;
    align-self     : center;
    justify-content: center;
    margin-left    : 0.5rem;
    margin-right   : 0.5rem;
}