@import "app-variables";
@import "pantone";

$col-1: $amber-pantone-3;
$col-2: $amber-pantone-4;
$col-3: $amber-pantone-5;
$col-4: $amber-pantone-6;

$col-grey: $col-4;

.footer {
    font-weight     : 300;
    font-size       : 1rem;
    position        : fixed;
    left            : 0;
    bottom          : 0;
    height          : var(--);
    width           : 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align      : left;
    letter-spacing  : 0.05rem;
    z-index         : 80;
}

mat-slider {
    height: 40px;
}

.timeDispContainer {
    font-family: 'azeret';

    flex           : 1 2 auto;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-self     : center; // vertical center
    width          : 150px;
    min-width      : 150px;
}

.icon-button {
    font-variation-settings: 'wght'300, 'FILL'0, 'GRAD'-25, 'opsz'24;

    align-self : center;
    margin-left: 1rem;
    color      : var(--glas-white-5);

    &.active {
        color: $blue-pantone-2;
    }

    &:first-child {
        margin-left: 0;
    }
}

.icon-main {
    font-variation-settings: 'wght'300, 'FILL'0, 'GRAD'-25, 'opsz'24;

    color     : var(--glas-white-5);
    align-self: center;
}

.progress-bar {
    height: 2px;
    width : 100%;
}

.left-footer {
    flex      : 5 1 26rem;
    min-height: 0;
    min-width : 200px;
}

.qualityBadge {
    margin-right: 0.5rem;
    margin-left : 0.5rem;
    align-self  : center;
}

.middle-footer {
    flex: 3 3 20rem;
}

.right-footer {
    flex           : 1 1 8rem;
    align-self     : center;
    justify-content: space-evenly;
}

.audioInfoLabel {
    color: $col-4;
    width: 8rem;
}

.unit {
    color       : $col-4;
    margin-left : 8px;
    width       : 2.5rem;
    margin-right: 8px;
}

.audioInfoValue {
    color          : $col-2;
    width          : 4.5rem;
    align-self     : flex-end;
    text-align     : end;
    text-align-last: end;
}

.baseFontsize {
    font-size: 1rem;
}

.currentTime {
    font-size              : 1rem;
    color                  : rgba(229, 238, 255, .3);
    font-weight            : 100;
    font-variation-settings: "wght"100;
    letter-spacing         : -0.02rem;
}

.finishedTime {
    font-size              : 1rem;
    color                  : var(--glas-white-5);
    font-weight            : 100;
    font-variation-settings: "wght"100;
    letter-spacing         : -0.02rem;
}

.inputSource {
    margin-top : 1.2rem;

    font-size     : 1rem;
    color         : var(--glas-white-5);
    letter-spacing: 0.07rem;
}

img {
    height       : calc(var(--footer-height) - 2px);
    width        : calc(var(--footer-height) - 2px);
    border-radius: 8px;
    padding      : 4px;
}

.standbyOn {
    color: $pantone-Bright-Red-C;
}

.standbyOff {
    color: $pantone-802-C;
}

.spacer {
    height: var(--footer-height);
}

.albumAndTitle {
    font-size: 1.2rem;
    color    : rgba(229, 238, 255, .3);

    font-variation-settings: "wght"200;

    margin-left    : 1.5rem;
    margin-top     : 0.2rem;
    margin-bottom  : 0.2rem;
    align-self     : center;
    justify-content: space-between;
}

.title {
    @extend .baseFontsize;
    font-size              : 0.95rem;
    font-weight            : 500;
    font-variation-settings: "wght"500;
    color                  : rgb(252, 252, 252);
    margin-bottom          : 4px;
}

.artist {
    @extend .baseFontsize;
    font-size    : 0.85rem;
    font-weight  : 400;
    color        : rgba(252, 252, 252, 0.65);
    margin-bottom: 16px;
}

.album {
    @extend .baseFontsize;
    font-size    : 0.85rem;
    font-weight  : 400;
    color        : rgba(252, 252, 252, 0.65);
    margin-bottom: 4px;
}

.albumLabel {
    @extend .baseFontsize;
    font-size    : 0.85rem;
    font-weight  : 400;
    color        : rgba(128, 128, 128, 0.65);
    margin-bottom: 4px;
}

.minWidth {
    min-width : 0;
    min-height: 0;
}

.no-wrap {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    min-height   : 0;
    min-width    : 0;
}

.renderer-label {
    align-self : center;
    text-align : center;
    font-size  : 1rem;
    font-weight: 400;
    color      : var(--glas-white-3);
    align-self : flex-start;
    color      : var(--primary-color-reduced);
}

.renderer-icon {
    font-size     : 1.2rem;
    width         : 2rem;
    height        : 1.3rem;
    color         : var(--primary-color-reduced);
    align-self    : center;
    vertical-align: middle;
}

.middle-div {
    flex           : 1 1 0;
    display        : flex;
    height         : 100%;
    align-self     : top;
    justify-content: space-around;
}

.volume-bar {
    line-height: 1.6rem;
}

.songPopup {
    flex           : 1 1 0;
    align-self     : center;
    justify-content: center;
    margin-left    : 0.5rem;
    margin-right   : 0.5rem;
}