@if (layoutService.headerVisible()) {
  <nav-bar
    [homeButtonVisible]="true"
    [contentHandler]="getContentHandler()"
    (homeButtonPressed)="homeButtonPressed($event)"
    (crumbPressed)="crumbPressed($event)"
  ></nav-bar>
}


<feature-hint class="block px-6 pt-4" [feature]="ServerFeature.ALBUM_LIKES" variant="alert"></feature-hint>

<!-- display music library -->

<mediaServer-display-container
  [showTopHeader]="showTopHeader()"
  [enableAlbumSort]="true"
  [contentHandler]="getContentHandler()"
/>
