//
// Attention:
// ============
// 
// Material Dialog style is localted in the global app-styles.scss. It's not working in the component file!
// class 'popup' is applied and located in app-styles.scss
//

.dialogTitle {
    font-size   : 1.2rem;
    font-weight : 300;
    min-width   : 250px;
    padding-left: 20px;
    padding-top : 16px;
}

.playlist-item {
    color         : var(--glas-white-3);
    padding-top   : 8px !important;
    padding-left  : 40px !important;
    padding-right : 8px !important;
    height        : 40px;
    width         : 100%;
    color         : var(--snow-white);
    font-weight   : 500;
    font-size     : 0.9rem;
    letter-spacing: 0.05rem;

    &:hover {
        background-color: var(--grey-5);
        color           : var(--snow-white);
    }
}