<router-outlet></router-outlet>

<div class="app-root">
  
  <div *ngIf="showBlur()" class="bg-img" id="main-screen">
  </div>
  
  
  
  <nav-bar *ngIf="layoutService.headerVisible"></nav-bar>
  
  <app-sidebar *ngIf="layoutService.sidebarVisible"></app-sidebar>
  
  <div id="mainContent" class="mainContent">
    <router-outlet></router-outlet>
  </div>

  <renderer-footer *ngIf="layoutService.footerVisible"></renderer-footer>  
  <div class="bg-img-footer" id="footer-background" *ngIf="layoutService.footerVisible">
  </div>

</div>
