@import "app-variables";

$sidebarWidth : 250px;

.footer-block {
    height: $footerHeight;
}

.sidebar {
    width           : $sidebarWidth;
    padding         : 12px;
    display         : flex;
    flex-direction  : column;
    align-items     : flex-start;
    background-color: rgba($color: black, $alpha: 0.20);
    position        : fixed;
}

.mainContent {
    margin-left: $sidebarWidth;
}