@import "app-variables";

.footer-block {
    height: $footerHeight;
}

.mainContent {
    margin-left: $sidebar-width;
    margin-top: $nav-height;
    width:calc(100vw - $sidebar-width);
}

.app-root {
    height: 100vh;
}
