@import "pantone";
@import "custom_variables";
@import "app-variables";
@import "app-icons";


.navbar-base {
    position: fixed;
    top     : 0px;
    right   : 0px;
    height  : var(--nav-height);
    z-index : 11;                        // material design button component have z-index of 10. So lets go +1

    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    font-weight     : 300;
    background-color: black;
}

.navbar {
    @extend .navbar-base;
    width: calc(100% - var(--sidebar-width));
}

@media only screen and (max-width: 900px) {
    .navbar {
        @extend .navbar-base;
        width: calc(100% - var(--sidebar-width-min));
    }
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
    .navbar {
        position: fixed;
        top     : 0px;
        right   : 0px;
        height  : var(--nav-height);
        z-index : 3;

        display         : flex;
        flex-direction  : row;
        flex-wrap       : nowrap;
        font-weight     : 300;
        background-color: black;
        width           : calc(100% - var(--sidebar-width-mid));
    }
}


.headFont {
    font-size     : 1.5rem;
    font-weight   : 500;
    letter-spacing: 0.06rem;
    color         : var(--glas-white-3);
    padding-left  : 1.5rem;
    padding-top   : 2px;
}

.btnContainer {
    max-height: 1.0rem;
}

.headButton {
    color           : var(--glas-white-5);
    background-color: var(--bg-grey-8);
}

.headLeftContainer {
    display       : flex;
    flex-direction: row;
}

.left-button {
    line-height: 1rem;
}

.flex-spacer {
    display: flex;
    flex   : 6 1 0;
}

.material-symbols-sharp {
    font-size     : 24px;
    vertical-align: text-bottom;
    font-variation-settings:
        'FILL' 0,
        'wght'300,
        'GRAD'-25,
        'opsz'24;

    &.filled {
        font-variation-settings:
        'FILL' 1,
        'wght'300,
        'GRAD'-25,
        'opsz'24;
    }
}

.navFont {
    font-weight: 500;
}