@import "pantone";
@import "custom_variables";
@import "app-variables";


.navbar-base {
    position: fixed;
    top     : 0px;
    right   : 0px;
    height  : var(--nav-height);
    z-index : 3;

    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    font-weight     : 300;
    background-color: black;
}

.navbar {
    @extend .navbar-base;
    width: calc(100% - var(--sidebar-width));
}

@media only screen and (max-width: 900px) {
    .navbar {
        @extend .navbar-base;
        width: calc(100% - var(--sidebar-width-min));
    }
}

.headFont {
    font-size     : 1.5rem;
    font-weight   : 500;
    letter-spacing: 0.06rem;
    color         : var(--glas-white-3);
    padding-left  : 1.5rem;
    padding-top   : 2px;
}

.btnContainer {
    max-height: 1.0rem;
}

.headButton {
    color           : var(--glas-white-5);
    background-color: var(--bg-grey-8);
}

.headLeftContainer {
    display       : flex;
    flex-direction: row;
}

.left-button {
    line-height: 1rem;
}

//
// Search component start
//

.search-icon {
    padding-top: 1px;
    align-self : center;
}

input {
    &.nav-search {
        box-sizing : border-box;
        appearance : textfield;
        font-size  : 16px !important;
        font-weight: 300;
        flex-grow  : 1;
        height     : 36px;
        margin     : 0 8px;
        padding    : 0;
        color      : #fff;
        background : transparent;
        border     : 0;
    }
}

.nav-search-container {
    display           : flex;
    box-sizing        : border-box;
    -webkit-app-region: no-drag;
    -moz-app-region   : no-drag;

    width      : 100%;
    max-width  : 388px;
    min-width  : 200px;
    margin-left: 1rem;
    padding    : 0 7px;

    align-self      : center;
    align-items     : center;
    background-color: var(--bg-grey-8);
    border-radius   : 8px;
    cursor          : text;
    transition      : background-color .2s ease-out;
}

//
// Search component end
//