<div id="navbar" class="navbar">

    <!-- First div section in the routing cascade. Follow the else parts ...-->
    <div class="headLeftContainer minWidth" *ngIf="musicLibraryVisible; else playlist">
        <button mat-mini-fab [disabled]="isDisabled()" (click)="gotoParent()">
            <mat-icon class="left-button" style="vertical-align: top;" svgIcon="arrow-left"></mat-icon>
        </button>
        <div class="headFont no-wrap">{{parentTitle}}</div>
    </div>

    <div class="nav-search-container">
        <mat-icon class="mr-1 search-icon" svgIcon="card-search-outline"></mat-icon>
        <input class="nav-search" [(ngModel)]="quickSearchString" matInput placeholder="search" #searchInput
            (keyup)="keyUp($event)" (focus)="focus()">
        <mat-icon class="mr-1 search-icon" svgIcon="close" (click)="clearSearch()"></mat-icon>
    </div>
</div>

<app-modal-search-result *ngIf="contentDirectoryService.quickSearchPanelVisible"></app-modal-search-result>

<ng-template #playlist>
    <div class="headLeftContainer" *ngIf="playlistVisible; else player">
        <div class="headFont">Playlist Tracks</div>
        <button mat-flat-button class="ml-4 headButton" (click)="playlistService.deleteAll()">
            <mat-icon class="mr-1" style="vertical-align: top;" svgIcon="close"></mat-icon>
            clear tracks
        </button>
    </div>
</ng-template>

<ng-template #player>
    <div *ngIf="playerVisible; else radio">
        <div class="headFont">Now playing</div>
    </div>
</ng-template>

<ng-template #radio>
    <div *ngIf="radioVisible; else searchSingle">
        <div class="headFont">Radio</div>
    </div>
</ng-template>

<ng-template #searchSingle>
    <div *ngIf="searchResultSingleVisible; else settings">&nbsp;</div>
</ng-template>

<ng-template #settings>
    <div *ngIf="settingsVisible; else searchMulti">
        <div class="headFont">Settings</div>
    </div>
</ng-template>

<ng-template #searchMulti>
    <div *ngIf="searchResultMultiVisible; else inputOutput">&nbsp;</div>
</ng-template>

<ng-template #inputOutput>
    <div *ngIf="inputOutputVisible; else default">
        <div class="headFont">Input &amp; Output</div>
    </div>
</ng-template>

<ng-template #default>
    <div>&nbsp;</div>
</ng-template>

<app-modal-search-result *ngIf="contentDirectoryService.quickSearchPanelVisible"></app-modal-search-result>