@import "pantone";
@import "custom_variables";

.nav-background {
    background-color: $pantone-532-C; // $pantone-Black-2-C;
}

.topTextAlign {
    vertical-align: top;
}

.mapButton {
    vertical-align: top;
}

.menu-spacer {
    margin-left: 32px;
}

.active {
    color: $amber-pantone-3 !important;
}

input {
    &.nav-search {
        box-sizing : border-box;
        appearance : textfield;
        font-size  : 16px !important;
        font-weight: 300;
        flex-grow  : 1;
        height     : 36px;
        margin     : 0 8px;
        padding    : 0;
        color      : #fff;
        background : transparent;
        border     : 0;
    }
}

.nav-search-container {
    box-sizing        : border-box;
    -webkit-app-region: no-drag;

    width    : 100%;
    max-width: 388px;

    align-items     : center;
    padding         : 0 7px;
    background-color: rgba(229, 238, 255, .2);
    border-radius   : 8px;
    cursor          : text;
    transition      : background-color .2s ease-out;
}

.middle-spacer {
    flex: 1 1 auto;
}

/**
    align-items     : center;
    padding         : 0 7px;
    background-color: rgba(229, 238, 255, .2);
    border-radius   : 8px;
    cursor          : text;
    transition      : background-color .2s ease-out;
*/

.example-container {
    width : 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
}

mat-drawer-content {
    padding       : 12px;
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
}

.search-icon {
    padding-top: 1px;
    align-self: flex-start;
}