@if (layoutService.headerVisible) {
    <nav-bar
      [parentTitle]="getParentTitle()"
      [backButtonVisible]="backButtonVisible()"
      [homeButtonVisible]="true"
      [contentHandler]="getContentHandler()"
      (homeButtonPressed)="homeButtonPressed($event)"
      (backButtonPressed)="backButtonPressed($event)"
    ></nav-bar>
  }
  
  
  <!-- display music library -->
  
  <mediaServer-display-container
    [showTopHeader]="showTopHeader()"
    [contentHandler]="getContentHandler()"
  />
  