<div class="flex flex-col items-center justify-between h-full m-1">
    <div class="flex mb-2">
        <span class="material-symbols-outlined icon-main">volume_up</span>
    </div>
    <div class="flex grow">
        <input
            type="range"
            class="volume-range-slider vertical-range"
            [min]="minVal"
            [max]="maxVal"
            step="1"
            [formControl]="volControl"
        />
    </div>
    <div class="flex mt-2">
        <span class="material-symbols-outlined icon-main">volume_mute</span>
    </div>
</div>
